/**
 * Scrollbar Hacks
 */

// sass-lint:disable no-vendor-prefixes
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: remy(10px);
}

::-webkit-scrollbar-track {
  background: map-get($palette-foundation, gainsboro);
}

::-webkit-scrollbar-thumb {
  width: remy(10px);
  height: remy(50px);
  background: map-get($palette-foundation, jet);

  &:hover {
    background: map-get($palette-foundation, charcoal);
  }
}
// sass-lint:enable no-vendor-prefixes
