/**
 * Scrollbar Hacks
 */

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: map-get($palette-foundation, gainsboro)
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 50px;
  background: map-get($palette-foundation, jet);
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($palette-foundation, oil);
}
