/**
 * Utilities
 */

[hidden] {
  display: none !important;// sass-lint:disable-line no-important
  visibility: hidden;
}

.no-margin {
  margin: 0 !important;
}

.pt-3 {
  padding-top: remy(48px);
}

.pt-2 {
  padding-top: remy(32px);
}

.pt-1 {
  padding-top: remy(16px);
}

.pb-3 {
  padding-bottom: remy(48px);
}

.pb-2 {
  padding-bottom: remy(32px);
}

.pb-1 {
  padding-bottom: remy(16px);
}

.mt-3 {
  margin-top: remy(48px);
}

.mt-2 {
  margin-top: remy(32px);
}

.mt-1 {
  margin-top: remy(16px);
}

.mb-3 {
  margin-bottom: remy(48px);
}

.mb-2 {
  margin-bottom: remy(32px);
}

.mb-1 {
  margin-bottom: remy(16px);
}

/* Typography Classes */
.text--center {
  text-align: center;
}

.text--black {
  color: map-get($palette-custom, black);
}

.text--red {
  color: map-get($palette-custom, red);
}

.text--underline {
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

/* Responsive Classes */
.mobile--hide {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.mobile--show {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

/* Miscellaneous Classes */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-js {
  .lazy {
    display: none;
  }
}

.row--black {
  background-color: map-get($palette-custom, black);
}
