/**
 * Font imports
 */

// Devero
@font-face {
  font-family: 'Devero';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/devero.otf) format('opentype');
}

// True lies
@font-face {
  font-family: 'True lies';
  src: url('../fonts/true_lies-webfont.ttf') format('ttf'),
  url('../fonts/true_lies-webfont.woff2') format('woff2'),
  url('../fonts/true_lies-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

// Futura
@font-face {
  font-family: 'Futura';
  src: url('../fonts/fut-lt-light-webfont.ttf') format('ttf'),
  url('../fonts/fut-lt-light-webfont.woff2') format('woff2'),
  url('../fonts/fut-lt-light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/fut-lt-book-webfont.ttf') format('ttf'),
  url('../fonts/fut-lt-book-webfont.woff2') format('woff2'),
  url('../fonts/fut-lt-book-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/fut-lt-regular-webfont.ttf') format('ttf'),
  url('../fonts/fut-lt-regular-webfont.woff2') format('woff2'),
  url('../fonts/fut-lt-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/fut-lt-bold-webfont.ttf') format('ttf'),
  url('../fonts/fut-lt-bold-webfont.woff2') format('woff2'),
  url('../fonts/fut-lt-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/fut-lt-heavy-webfont.ttf') format('ttf'),
  url('../fonts/fut-lt-heavy-webfont.woff2') format('woff2'),
  url('../fonts/fut-lt-heavy-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}
