/**
 * Font imports
 */

// Devero
@font-face {
  font-family: 'Devero';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/devero.otf) format('opentype');
}

@font-face {
  font-family: 'True lies';
  src: url('../fonts/true_lies-webfont.ttf') format('ttf'),
    url('../fonts/true_lies-webfont.woff2') format('woff2'),
    url('../fonts/true_lies-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
