main {height: 100%;}
header {
  //position: fixed;
  position: absolute;
  top: 0;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
header a {
  color: #fff;
  &:focus,
  &:hover {
    color: #707070;
    border-bottom: 1px solid;
  }
}
section:nth-of-type(n+2), {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
footer {
  padding-top: 3rem;
  background-color: #262626;
}
.footer__main {padding-bottom: 2.5rem;}
.footer__main p {color: #818181;}
footer a {
  color: #818181;
  &:focus,
  &:hover {color: #fff;}
}
.footer__copy {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #1b1b1b;
}
.footer__copy p {
  margin-bottom: 0;
  color: #818181;
}
/*---------------------------------*\
  Contact page
\*---------------------------------*/
.page--contact header {
  background-color: $color--jet;
  @include BoxShadowHelper(1);
}