<!doctype html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_about_cs=true }}

  {{> head active_about=true lang_cs=true }}
</head>
<body class="page--about">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_about=true lang_cs=true }}

    <section id="sec__about" class="sec__about mb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Mé jméno je <span class="text--red">Alex Devero</span>.<br>Jsem designér, developer &amp; podnikatel z České Republiky.</h1>

            <p>Jsem designér, developer a podnikatel samouk z České Republiky. Technologie, design a podnikání jsou mou celoživotní vášní/posedlostí. Mým životním cílem je použít technologii a změnit svět. Designu, tvorbě webových stránek, vytváření interaktivních zážitků a podnikání se věnuji od svých 11 let. Jsem zběhlý v designu, web developmentu a UI/UX designu. Krom práce se též věnuji psaní na <a class="link--red link--underline" href="http://blog.alexdevero.com/">mém blogu</a>. Nyní jsem na cestě jejímž cílem je mít pozitivní dopad a změnit svět.</p>
            <br>

            <h2 class="h2">Hodnoty</h2>

            <p>Jsem oddaný <strong>modernímu a čistému designu</strong>. Jsem zastáncem struktury, jednoduchosti a čistoty, jak v designu tak v kódu. Krásné je lepší než ošklivé. Jednoduché je lepší než složité. Složité je lepší než komplikované. Věřím, že <strong>každý řádek kódu a prvek v designu mám mít svůj účel či funkci</strong>. Organizace a konzistence jsou pro mě velmi důležité.</p>
            <br>

            <h2 class="h2">Dovednosti</h2>

            <p>Co se technologií týče, plně ovládám <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>SASS</strong>, <strong>PostCSS</strong>, <strong>JavaScript (ES6/ES7)</strong> a verzovací systém <strong>Git</strong>. Jsem zběhlý ve frameworcích <strong>Bootstrap</strong> a <strong>Foundation</strong>, platformě <strong>NodeJS</strong> a <strong>OOP</strong>. Když chci použít nějakou JavaScript knihovnu, volím <strong>ReactJS</strong> a <strong>jQuery</strong>. Používám automatizační nástroj <strong>Gulp</strong> a bundler <strong>Webpack</strong>.</p>
          </div>
        </div>
      </div>
    </section>

    {{!-- <section id="sec__faq" class="sec__faq">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Často kladené <span class="text--red">dotazy</span>.</h1>

            <div class="faq-content">
              <h2>Kolik bude práce stát?</h2>

              <p>Úvodní konzultace projektu je zdarma. Cena webu (<strong>1-6 stránek</strong>) se pohybuje v rozmezí <strong>6.000&ndash;13.000 Kč</strong>. Cena webu s <strong>více jak 6 stránkami</strong> začíná na <strong>13.000 Kč</strong>. Konečnou cenovou kalkulaci vytvářím na základě naší úvodní konzultace. Mějte prosím na paměti, že komplexita designu a použité technologie mohou zvýšit (nebo snížit) konečnou cenu. Má hodinová sazba je <strong>550 Kč/hod</strong>.</p>
              <br>

              <h2>Jak dlouho práce potrvá?</h2>

              <p>Návrh a stavba malého webu (<strong>1-6 stránek</strong>) zabere zpravidla <strong>9 dní</strong>. V případě složitější projektů práce zabere zpravidla <strong>2 týdny či více</strong>. Čím menší je počet stránek, tím rychleji práce probíhá a naopak.<!-- Významným faktorem určujícím rychlost realizace projektu je rychlost zpětné vazby. Pokud projekt schvaluje více lidí, je obvykle potřeba více času. --></p>
              <br>

              <h2>Co bude tvým výstupem?</h2>

              <p>Výstupy záleží na rozsahu práce. Pokud je mým úkolem design i stavba webu, mým výstupem jsou <strong>PSD soubory, dále HTML, CSS a JavaScript (komplet stránka)</strong>, popřípadě další soubory se zdrojovým kódem. Pokud je mým úkolem pouze design, jsou mým výstupem <strong>PSD soubory pro vašeho kodéra</strong>.</p>
              <br>

              <h2>Jak bude probíhat spolupráce?</h2>

              <p>Prvním krokem je úvodní schůzka či hovor při kterém si vyjasníme očekávání od projektu, a jak vám mohu pomoci. Můj design proces probíhá v těchto krocích: uživatelský výzkum, moodboard, skicování, tvorbu wireframů, návrh interakcí, zpracování homepage, zpracování podstránek, nakódování webu a konečná optimalizace. V průběhu tohoto procesu budeme pravidelně v kontaktu. Rovněž si můžete vždy vyžádat ukázky pro posouzení aktuálního stavu.</p>
              <br>

              <h2>Jsi k nalezení na sociálních sítích?</h2>

              <p>Ano, najdete mě na <a class="link--red link--underline" href="https://twitter.com/alexdevero">Twitteru</a>, <a class="link--red link--underline" href="https://github.com/alexdevero">GitHubu</a>, <a class="link--red link--underline" href="http://codepen.io/alexdevero/">CodePenu</a>, <a class="link--red link--underline" href="https://www.facebook.com/deveroalex">Facebooku</a>, <a class="link--red link--underline" href="https://cz.linkedin.com/in/alexdevero">LinkedIn</a>, <a class="link--red link--underline" href="https://dribbble.com/alexdevero">Dribbble</a>, <a class="link--red link--underline" href="https://www.behance.net/alexdevero">Behance</a> a <a class="link--red link--underline" href="https://t.me/lexdevero">Telegramu</a>.</p>
              <br>

              <h2>Můžeme se setkat osobně?</h2>

              <p>Co se týče Prahy, <strong>ano, můžeme se domluvit na osobním setkání</strong>!</p>
            </div>

            {{> cta-button lang_cs=true }}
          </div>
        </div>
      </div>
    </section> --}}

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
