<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_about=true }}

  {{> head active_about=true lang_cs=false }}
</head>
<body class="page--about">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_about=true lang_cs=false }}

    <section id="sec__about" class="sec__about">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1 class="h1">My name is <span class="text--red">Alex Devero</span>.<br>I am designer, developer &amp; entrepreneur from Czech Republic.</h1>

            <p>I am self-taught designer, developer and entrepreneur from Czech Republic. Technology, design and business are my lifelong passions/obsessions. My lifetime goal is to use technology to change the World. I have been designing and developing websites, building interactive experiences and building businesses since I was 11. I am proficient in design, web development and UI/UX design. Beside work, I write extensively on <a class="link--red link--underline" href="http://blog.alexdevero.com/">my blog</a>. Now, I am the way to make an impact and change the World in the process.</p>
            <br>

            <h2 class="h2">Values</h2>

            <p>I'm devoted to modern and clean designs. I am an advocate of structure, purity and simplicity in both, design and code. Beautiful is better than ugly. Simple is better than complex. Complex is better than complicated. I believe that <strong>every line of code and element in design has to have purpose or function</strong>. Organization and consistency are very important to me.</p>
            <br>

            <h2 class="h2">Skills</h2>

            <p>In the terms of technology, I am proficient <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>SASS</strong>, <strong>PostCSS</strong>, <strong>JavaScript (ES6/ES7)</strong> and version system <strong>Git</strong>. I am well versed in <strong>Bootstrap</strong> and <strong>Foundation</strong> frameworks, <strong>NodeJS</strong> platform and <strong>OOP</strong>. When I want to use some JavaScript library, it is <strong>ReactJS</strong> and <strong>jQuery</strong>. I like to use build tool <strong>Gulp</strong> and bundler <strong>Webpack</strong>.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="sec__faq" class="sec__faq">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Frequently asked <span class="text--red">questions</span>.</h1>

            <div class="faq-content">
              <h2 class="h2">How much will it cost?</h2>

              <p>Initial consultation is free. Price for a small website (<strong>1-6 pages</strong>) is in range of <strong>&dollar;250&ndash;550 (&euro;225&ndash;490)</strong>. Price for a website with <strong>more than 6 pages</strong> starts at <strong>&dollar;550 (&euro;490)</strong>. I'll calculate the final price based on our initial consultation. Please, keep in mind that the complexity of design and technology used can increase (or decrease) the final price. My hour rate is <strong>&dollar;35 (&euro;30) per hour</strong>.</p>
              <br>

              <h2 class="h2">How much time will it take?</h2>

              <p>Designing and building small website (<strong>1-6 pages</strong>) usually takes <strong>9 days</strong>. In case of more complex projects, it will usually take <strong>2 weeks or more</strong>. The smaller the number of pages, the quicker the work is done and vice versa.<!-- Important factor that determines the speed of realization of the project is speed of feedback. If project has to approved by higher number of stakeholders, it usually takes more time. --></p>
              <br>

              <h2 class="h2">What will be your output?</h2>

              <p>Outputs are determined by the scope of my work. If my job is design and development, my outputs are <strong>PSD files and HTML, CSS a JavaScript (complete website)</strong>, and any other source files. If my job is only design, my outputs are <strong>PSD files for your coder</strong>.</p>
              <br>

              <h2 class="h2">How will our cooperation look like?</h2>

              <p>The first step is initial consultation or call that will help us set expectations for the project and what can I do for you. My design process goes through these steps: user research, moodboard, sketching, wireframing, interaction design, designing the homepage, designing sub-pages, coding the website and final optimization. During this process, we will be regularly in touch. You can also always ask for demos to review the current status.</p>
              <br>

              <h2 class="h2">Can we find you on social networks?</h2>

              <p>Yes, you can find me on <a class="link--red link--underline" href="https://twitter.com/alexdevero">Twitter</a>, <a class="link--red link--underline" href="https://github.com/alexdevero">GitHub</a>, <a class="link--red link--underline" href="http://codepen.io/alexdevero/">CodePen</a>, <a class="link--red link--underline" href="https://cz.linkedin.com/in/alexdevero">LinkedIn</a>, <a class="link--red link--underline" href="https://www.facebook.com/deveroalex">Facebooku</a>, <a class="link--red link--underline" href="https://dribbble.com/alexdevero">Dribbble</a>, <a class="link--red link--underline" href="https://www.behance.net/alexdevero">Behance</a> and <a class="link--red link--underline" href="https://t.me/lexdevero">Telegram</a>.</p>
              <br>

              <h2 class="h2">Can we meet in person?</h2>

              <p>If you are currently in Prague, <strong>yes, we can meet in person</strong>!</p>
            </div>

            {{> cta-button lang_cs=false }}
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
