<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_case_study=true }}

  {{> head active_case_study=true lang_cs=false }}
</head>
<body class="page--case-study-template">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_template=true lang_cs=false }}

    <section id="sec__about" class="sec__about">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Case study for <span class="text--red">Le Cafe Noir Studio</span>.</h1>

            <img src="images/loader.gif" alt="Case study shot 0" hidden>

            <h2 class="h2">About</h2>

            <p>Le Cafe Noir Studio is a Dutch brand founded by Lizzy vd Ligt. Inspired by her lifestyle, she obtained ideas for this collection while traveling around the world visiting fashion capitals, festivals, and her beloved island Ibiza.</p>

            <p>Her signature style leaves an important mark on the brand – making it a collection which distinguishes itself in contemporary fashion.</p>

            <p data-source="strv">ClassDojo's mission is to give teachers, parents and students the power to transform education from the ground up in every classroom in the world. This communication platform makes it easy to share moments from class in a more open, frequent and positive way — including classroom activities and skills students are building — through photos, videos and messaging. Today, ClassDojo is used in 2 out of 3 US schools, as well as an additional 180 countries.</p>

            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li>
                    <h3 class="h4">My role</h3>
                    <span>Web designer &amp; web developer</span>
                  </li>
                </ul>

                <br>
              </div>

              <div class="col-sm-6">
                <ul>
                  <li>
                    <h3 class="h4">Project time frame</h3>
                    <span>18 days</span>
                  </li>
                </ul>
              </div>

              <br>
            </div>

            <ul>
              <li>
                <h3 class="h4">Technology stack</h3>
                <span>HTML5, CSS3, JavaScript (ES7), Bootstrap, Babel, Gulp, PostCSS, SASS, Webpack</span>
              </li>
            </ul>


            <br>

            <a class="text--black text--underline" href="#">Visit website</a>

            <br>
            <br>

            <h2 class="h2">Challenge</h2>

            <p>Le Cafe Noir Studio is a newly found fashion brand launched off a micro collection of 12 pieces. They were looking for a webshop that was entirely unique – a site that complements their brand image and converts &amp; attracts customers.</p>

            <p data-source="strv">ClassDojo was looking to extend its existing team to accelerate development of both its iOS and Android mobile apps. With a growing community of millions, ClassDojo also needed to ensure overall app quality &amp; stability and offer reliable apps that were smoothly synced across all platforms.</p>

            <img src="images/loader.gif" alt="Case study shot 1" hidden>

            <h2 class="h2">Project</h2>

            <p>They needed a site that was special – one with a memorable theme that invokes the brand’s own style of “jazziness”. We wanted to offer something that was different than any other web shop – a finely tailored design that is simple yet vibrant in detail.</p>

            <h3 class="h3">Context &amp; Challenge</h3>

            <p>The challenge was creating a site that was intuitive and conversion-ready, but artistic and suggestive. Le Cafe Noir Studio recently launched its new collection and sought to effectively maintain a similar brand connection to previous collections.</p>

            <img src="images/loader.gif" alt="Case study shot 2" hidden>

            <h2 class="h2">Process</h2>

            <p>In the first week, we met with Lizzy to explore different ideas and discussed various types of target users. She was quite experienced selling online previously and mentioned the brand’s main marketing channel was Instagram.</p>

            <p>We investigated her Instagram feed and the users who were following/liking her. Based on our research, we created 3 types of user personas. We began paving a direction for our design within the first week. This is something we always do. We set forth immediately after uncovering the first results from that week.</p>

            <p>The first sketches were drawn, the prototypes were built and we discussed with Lizzy. To better tailor the website for the brand, we filtered through the essential imagery and available photography we received from her. Based on the design direction, results, and brand image – we created a spectacular site that flattered Lizzy.</p>

            <img src="images/loader.gif" alt="Wireframes" hidden>

            <h2 class="h2">Solution</h2>

            <p>We created a navigation that a majority of customer profiles preferred – a side navigation. We did explore other navigation systems, however, the side navigation always came out on top, as it provided easy access to information on the website.</p>

            <p>Because the aesthetic of the logo and feel is a bit “spooky”, we implanted this feeling throughout the entire site. We added page transitions in canvas that felt and appeared aesthetically similar to the logo.</p>

            <p>While the site’s inspiration was sourced from more ‘haunted’ influences, we wanted to invoke empathy on the site. Whenever you add an item to the cart – a flood of hearts fills the page. It had to feel like the user was receiving a reward – without disrupting the navigability of the checkout page. A total customer satisfaction journey is what we aimed for, and what we accomplished.</p>

            <p data-source="strv">STRV provided one engineer at the start to support the ClassDojo team but soon scaled up to 8 dedicated iOS and Android engineers to handle the majority of ClassDojo's mobile development.</p>

            <img src="images/loader.gif" alt="Case study shot 3" hidden>

            <h2 class="h2">Highlights</h2>

            <p>Le Cafe Noir Studio won award in 2016 for Most Innovative Brand, and has been named one of Fast Company's most innovative education companies.</p>

            <p data-source="strv">ClassDojo is backed by a number of leading investors, including SV Angel, Paul Graham, ImagineK12 (now part of Y Combinator), SoftTech VC, General Catalyst, Shasta Ventures and others. ClassDojo won a Crunchie Award in 2015 for Best Education Startup, and has been named one of Fast Company's most innovative education companies.</p>

            <h2 class="h2">Outcomes</h2>

            <ul>
              <li>
                <h3 class="h4">High Traffic</h3>
                <span>30.000 visitors in 1 month</span>
              </li>
            </ul>

            <br>

            <ul>
              <li>
                <h3 class="h4">Increase in sales</h3>
                <span>Sales increase by 50%</span>
              </li>
            </ul>
          </div>
        </div>

        {{> cta-button lang_cs=false }}
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
