<!doctype html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_clients_cs=true }}

  {{> head active_clients=true lang_cs=true }}
</head>
<body class="page--clients">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    <section id="sec__main" class="sec__main">
      {{> header active_clients=true lang_cs=true }}
    </section>

    <section id="sec__about" class="sec__about">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Několik slov od mých <span class="text--red">klientů</span>.</h1>

            <p>&ldquo;Na Alexovi oceňuji především jeho zapálení pro věc, perfekcionismus, drive a vytrvalost. Má schopnost vždy a za jakoukoliv cenu dotáhnout projekt do konce.&rdquo;<br>-Tomáš Schúd</p>

            <p>&ldquo;S Alexem jsem spolupracoval již několikrát. Ať už se jedná o jednoduchý web nebo o rozsáhlejší projekty, vždy dokáže najít efektivní a kreativní řešení.&rdquo;<br>-Patrik Kubát</p>

            <p>&ldquo;Z Alexovi práce a přístupu jsem nadšený. Komunikace mezi námi byla přátelská a naprosto bezproblémová. Na dotazy reagoval vždy velmi rychle a věcně. Na výsledku práce to pak bylo znát.&rdquo;<br>-Filip Lehodský</p>

            <p>&ldquo;Práce s Alexem byla skvělá zkušenost. Byl velmi profesionální a rychlý. Nakonec nám dodal vynikající práci, jenž přesně splňovala mé představy. Těším se, až s ním budu pracovat znovu.&rdquo;<em>(přeloženo z angličtiny)</em><br>-Harry Simons</p>

            <p>&ldquo;S Alexem bylo skvělé spolupracovat. Byl velmi profesionální, komunikativní a odvedl vynikající práci. Určitě jej najmu znovu!&rdquo;<em>(přeloženo z angličtiny)</em><br>-Daniel Clark</p>

            <p>&ldquo;Úžasná práce jako vždy!&rdquo;<em>(přeloženo z angličtiny)</em><br>-Anna Cheng</p>

            <h1 class="h2 mt-2">Některé společnosti s nimiž jsem pracoval:</h1>

            <div class="row row--logos">
              <div class="col-md-3">
                <img class="logo logo--startmonday" src="./images/logos/logo-startmonday.svg" alt="StartMonday logo">
              </div>

              <div class="col-md-3">
                <img class="logo logo--manapgroup" src="./images/logos/logo-manapgroup.svg" alt="ManapGroup logo">
              </div>

              <div class="col-md-3">
                <img class="logo logo--uol" src="./images/logos/logo-uol.svg" alt="UOL - Účetnictví online logo">
              </div>

              <div class="col-md-3">
                <img class="logo logo--spacebar" src="./images/logos/logo-spacebar.svg" alt="SpaceBar logo">
              </div>
            </div>

            <div class="row row--logos">
              <div class="col-md-3">
                <img class="logo logo--ritetag" src="./images/logos/logo-ritetag.svg" alt="RiteTag logo">
              </div>
            </div>

            <h1 class="h2 mt-2">Publikace do kterých přispívám:</h1>

            <div class="row row--logos">
              <div class="col-md-4">
                <img class="logo logo--net" src="./images/logos/logo-net.svg" alt=" logo">
              </div>

              <div class="col-md-4">
                <img class="logo logo--alistapart" src="./images/logos/logo-a-list-apart.svg" alt=" logo">
              </div>

              <div class="col-md-4">
                <img class="logo logo--codementor" src="./images/logos/logo-codementor.svg" alt=" logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="footer__media">
          <ul class="nav--media nav--footer footer__links">
            <li class="nav-item">
              <a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://cz.linkedin.com/in/alexdevero" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://www.facebook.com/deveroalex" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://dribbble.com/alexdevero" target="_blank"><i class="fa fa-dribbble"></i></a>
            </li>

            <li class="list-divider"></li>

            <li class="nav-item">
              <a href="https://www.behance.net/alexdevero" target="_blank"><i class="fa fa-behance"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a>
            </li>

            <li class="nav-item">
              <a href="http://codepen.io/alexdevero/" target="_blank"><i class="fa fa-codepen"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://instagram.com/alexdevero" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>

            <li class="nav-item">
              <a href="mailto:deveroalex@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </main>

  <!-- Scripts -->
  <!-- Main Scripts -->
  <script src="js/main.min.js" async charset="utf-8"></script>

  <!-- Google Analytics -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-40173486-1','auto');ga('send','pageview');
  </script>
</body>
</html>
