<!doctype html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_clients_cs=true }}

  {{> head active_clients=true lang_cs=true }}
</head>
<body class="page--clients">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_clients=true lang_cs=true }}

    <section id="sec__about" class="sec__about">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Několik slov od mých <span class="text--red">klientů</span>.</h1>

            <p>&ldquo;Na Alexovi oceňuji především jeho zapálení pro věc, perfekcionismus, drive a vytrvalost. Má schopnost vždy a za jakoukoliv cenu dotáhnout projekt do konce.&rdquo;<br>-Tomáš Schúd</p>

            <p>&ldquo;S Alexem jsem spolupracoval již několikrát. Ať už se jedná o jednoduchý web nebo o rozsáhlejší projekty, vždy dokáže najít efektivní a kreativní řešení.&rdquo;<br>-Patrik Kubát</p>

            <p>&ldquo;Z Alexovi práce a přístupu jsem nadšený. Komunikace mezi námi byla přátelská a naprosto bezproblémová. Na dotazy reagoval vždy velmi rychle a věcně. Na výsledku práce to pak bylo znát.&rdquo;<br>-Filip Lehodský</p>

            <p>&ldquo;Práce s Alexem byla skvělá zkušenost. Byl velmi profesionální a rychlý. Nakonec nám dodal vynikající práci, jenž přesně splňovala mé představy. Těším se, až s ním budu pracovat znovu.&rdquo;<em>(přeloženo z angličtiny)</em><br>-Harry Simons</p>

            <p>&ldquo;S Alexem bylo skvělé spolupracovat. Byl velmi profesionální, komunikativní a odvedl vynikající práci. Určitě jej najmu znovu!&rdquo;<em>(přeloženo z angličtiny)</em><br>-Daniel Clark</p>

            <p>&ldquo;Úžasná práce jako vždy!&rdquo;<em>(přeloženo z angličtiny)</em><br>-Anna Cheng</p>

            {{> logos lang_cs=true }}

            {{> cta-button lang_cs=true }}
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
