<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_clients=true }}

  {{> head active_clients=true lang_cs=false }}
</head>
<body class="page--clients">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_clients=true lang_cs=false }}

    <section id="sec__about" class="sec__about">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h2 class="h1 mt-3">A few words from my <span class="text--red">clients</span>.</h2>

            <p>&ldquo;On Alex, I particularly appreciate his enthusiasm, perfectionism, drive and endurance. He has the ability to always bring the project to completion, at any cost.&rdquo;<em>(translated from Czech)</em><br>-Tomáš Schúd</p>

            <p>&ldquo;I've worked with Alex several times. Whether it's a simple web or larger projects, he can always find an effective and creative solution.&rdquo;<em>(translated from Czech)</em><br>-Patrik Kubát</p>

            <p>&ldquo;I'm excited from Alex's work and approach. Our communication was friendly and hassle free. He responded to all my questions very quickly and objectively. The result of the work was adequate.&rdquo;<em>(translated from Czech)</em><br>-Filip Lehodský</p>

            <p>&ldquo;Working with Alex was great experience. He was very professional and responded quickly. At the end, he delivered outstanding work just like I had imagined as the outcome. I'm looking forward to work with him again.&rdquo;<br>-Harry Simons</p>

            <p>&ldquo;Alex is great to work with. Very professional, responsive and delivered outstanding work. Will definitely hire again!&rdquo;<br>-Daniel Clark</p>

            <p>&ldquo;Wonderful work as always!&rdquo;<br>-Anna Cheng</p>

            <h2 class="h2 mt-4">Some <span class="text--red">companies</span> I've been working with:</h2>

            <div class="row row--logos logos--companies">
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--startmonday" src="./images/logos/logo-startmonday-black.svg" alt="StartMonday logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--manapgroup" src="./images/logos/logo-manapgroup.svg" alt="ManapGroup logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--damejidlo" src="./images/logos/logo-damejidlo.svg" alt="DámeJídlo logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--spacebar" src="./images/logos/logo-spacebar.svg" alt="SpaceBar logo">
              </div>
            </div>

            <div class="row row--logos logos--companies">
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--uol" src="./images/logos/logo-uol.svg" alt="UOL - Účetnictví online logo">
              </div>

              <div class="col-md-3">
                <img class="logo logo--ritetag" src="./images/logos/logo-ritetag.svg" alt="RiteTag logo">
              </div>
            </div>

            <h2 class="h2 mt-4">Some <span class="text--red">publications</span> I contribute to:</h2>

            <div class="row row--logos logos--publications">
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--net" src="./images/logos/logo-net.svg" alt="Dot Net logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--alistapart" src="./images/logos/logo-a-list-apart.svg" alt="A List Apart logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--codementor" src="./images/logos/logo-codementor.svg" alt="Codementor logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--codementor" src="./images/logos/logo-on-advertising-long.svg" alt="On Advertising logo">
              </div>
            </div>

            <div class="row row--logos logos--publications">
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--business-daily" src="./images/logos/logo-business-daily.svg" alt="Business Daily logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--codeburstio" src="./images/logos/logo-codeburstio.svg" alt="Codeburst.io logo">
              </div>

              <div class="col-xs-12 col-sm-6 col-lg-3">
                <img class="logo logo--hackernoon" src="./images/logos/logo-hackernoon.svg" alt="Hackernoon logo">
              </div>
            </div>

            {{> cta-button lang_cs=false }}
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
