<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_faq=true }}

  {{> head active_faq=true lang_cs=false }}
</head>
<body class="page--faq">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_faq=true lang_cs=false }}

    <section id="sec__faq" class="sec__faq">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h1 class="h1">Frequently asked <span class="text--red">questions</span>.</h1>

            <div class="faq-content">
              <h2>How much will it cost?</h2>

              <p>Initial consultation is free. Price for a small website (<strong>1-6 pages</strong>) is in range of <strong>&dollar;250&ndash;550 (&euro;225&ndash;490)</strong>. Price for a website with <strong>more than 6 pages</strong> starts at <strong>&dollar;550 (&euro;490)</strong>. I'll calculate the final price based on our initial consultation. Please, keep in mind that the complexity of design and technology used can increase (or decrease) the final price. My hour rate is <strong>&dollar;50 (&euro;45) per hour</strong>.</p>

              <h2>How much time will it take?</h2>

              <p>Designing and building small website (<strong>1-6 pages</strong>) usually takes <strong>9 days</strong>. In case of more complex projects, it will usually take <strong>2 weeks or more</strong>. The smaller the number of pages, the quicker the work is done and vice versa.<!-- Important factor that determines the speed of realization of the project is speed of feedback. If project has to approved by higher number of stakeholders, it usually takes more time. --></p>

              <h2>What will be your output?</h2>

              <p>Outputs are determined by the scope of my work. If my job is design and development, my <strong>outputs are PSD files and HTML, CSS a JavaScript (complete website)</strong>, and any other source files. If my job is only design, my outputs are <strong>PSD files for your coder</strong>.</p>

              <h2>How will our cooperation look like?</h2>

              <p>The first step is initial consultation or video call that will help us clarify your expectations and the way I can help you. My design process goes through these steps: user research, creating wireframes, moodboard, sketching the visual style, finalization of the visual style, designing the homepage, designing sub-pages, interaction design, optimization for retina screens, coding and final optimization of the code. During this process you will be regularly informed about the status of the work. You can also always request demos to review the current status.</p>

              <h2>Can we find you on social networks?</h2>

              <p>Yes, you can find me on <a class="link--red link--underline" href="https://twitter.com/alexdevero">Twitter</a>, <a class="link--red link--underline" href="https://github.com/alexdevero">GitHub</a>, <a class="link--red link--underline" href="http://codepen.io/alexdevero/">CodePen</a>, <a class="link--red link--underline" href="https://cz.linkedin.com/in/alexdevero">LinkedIn</a>, <a class="link--red link--underline" href="https://www.facebook.com/deveroalex">Facebooku</a>, <a class="link--red link--underline" href="https://dribbble.com/alexdevero">Dribbble</a>, <a class="link--red link--underline" href="https://www.behance.net/alexdevero">Behance</a> and <a class="link--red link--underline" href="https://t.me/lexdevero">Telegram</a>.</p>

              <h2>Can we meet in person?</h2>

              <p>If you are currently in Prague, <strong>yes</strong>, we can meet in person!</p>
            </div>

            {{> cta-button lang_cs=false }}
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
