<!DOCTYPE html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_home_cs=true }}

  {{> head active_home=true lang_cs=true }}
</head>
<body class="page--home">
  {{> browser-notification }}

  {{> manifest }}

  {{> preloader-volume }}

  <main>
    {{> header active_home=true lang_cs=true }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <div class="js-typed-cs home__intro">
        <h1>{{{ pageHome.h1-cs }}}</h1>

        <h2>{{{ pageHome.h2-cs }}}</h2>

        <h3>{{{ pageHome.h3-cs }}}</h3>
      </div>

      {{!-- {{> particles }} --}}
      <div id="particle-canvas" class="canvas--absolute canvas--fullwidth"></div>
    </section>

    {{> footer }}
  </main>

  {{> scripts has-particlesjs=true }}
</body>
</html>
