<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_home=true }}

  {{> head active_home=true lang_cs=false }}
</head>
<body class="page--home">
  {{> browser-notification }}

  {{> manifest }}

  {{> preloader-volume }}

  <main>
    {{> header active_home=true lang_cs=false }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <div class="js-typed-en home__intro">
        {{!-- {{> typedjs }} --}}

        <h1>{{{ pageHome.h1-en }}}</h1>

        <h2>{{{ pageHome.h2-en }}}</h2>

        <h3>{{{ pageHome.h3-en }}}</h3>

        <span class="intro__icon fa fa-hand-rock-o" aria-hidden="true"></span>
      </div>

      <canvas id="canvas-iphone" class="canvas--absolute canvas--fullwidth canvas-iphone"></canvas>
      {{!-- <canvas id="canvas-visualization" class="canvas-visualization"></canvas> --}}

      {{!-- {{> particles }} --}}
      {{!-- {{> shoal-fish }} --}}
    </section>

    {{> footer }}
  </main>

  {{> scripts has-threejs=true }}
</body>
</html>
