<!DOCTYPE html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_home_cs=true }}

  {{> head active_home=true lang_cs=true }}
</head>
<body class="page--home">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <header>
        <div class="container-fluid">
          <nav>
            <input id="js-checkbox--nav" class="checkbox--nav" name="checkbox--nav" type="checkbox" hidden>

            <div class="nav__container">
              <h1 class="logo"><a href="index-cs.html">DEVERO</a></h1>

              <!-- Experimental menu -->
              <label class="nav-main__label" for="nav-check">MENU</label>

              <input type="checkbox" name="nav-check" id="nav-check" hidden>
              <!-- Experimental menu -->

              <ul class="nav nav--main">
                <li class="nav-item nav-item--togglers">
                  <label for="nav-check" class="navbar-toggler">&Cross;</label>

                  <label for="nav-check" class="navbar-toggler navbar-toggler-ie">&times;</label>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="work-cs.html" title="Ukázky mé práce">Má Práce</a>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="process-cs.html" title="Informace o mém designovém procesu">Proces</a>
                </li> -->

                <li class="nav-item">
                  <a class="nav-link" href="clients-cs.html" title="Recenze klientů">Klienti</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="about-cs.html" title="Informace o mě">O Mě</a>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="faq-cs.html" title="Často kladené dotazy">FAQ</a>
                </li> -->

                <li class="nav-item">
                  <a class="nav-link" href="contact-cs.html" title="Kontaktní údaje">Kontakt</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="http://blog.alexdevero.com/" title="Můj blog o designu, web developmentu a podnikání" target="_blank">Blog</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="https://creativemarket.com/alexdevero" title="Obchod s digitálními produkty které jsem vytvořil." target="_blank">Obchod</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="index.html" title="Anglická verze stránky">EN</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>

      <div class="js-typed-cs home__intro">
        <!-- <h1 class="js-typed js-typed-h1" data-text="Alex Devero"></h1><!-- glitch effect - ->

        <h2 class="js-typed js-typed-h2"></h2>

        <h3 class="js-typed js-typed-h3"></h3> -->
        <h1 class="glitch" data-text="Alex Devero">Alex Devero</h1><!-- glitch effect -->

        <h2><span>Český Designér &#43; Developer &#43; Podnikatel.</span></h2>

        <h3>Kreativita &#43; Design &#43; Inovace &#43; Technologie</h3>

        <h3 class="no-margin">UI/UX/Web Design &#43; Web Development</h3>

        <!-- <div class="intro__btn-container">
          <a class="btn btn--ghost--black-inverted" href="about-cs.html">&lt; o Mě</a>

          <a class="btn btn--ghost--black-inverted" href="work-cs.html">Má Práce &gt;</a>
        </div> -->
      </div>

      <!-- <canvas class="js-particles particles"></canvas> -->

      <!-- <div class="header-cover">
        <div class="text">
          <div>
            <span>c</span>

            <span>o</span>

            <span>d</span>

            <span>e</span>
          </div>

          <span>+</span>

          <div>
            <span>d</span>

            <span>e</span>

            <span>s</span>

            <span>i</span>

            <span>g</span>

            <span>n</span>
          </div>
        </div>
      </div> -->
    </section>

    <footer>
      <div class="container">
        <div class="footer__media">
          <ul class="nav--media nav--footer footer__links">
            <li class="nav-item">
              <a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://cz.linkedin.com/in/alexdevero" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://www.facebook.com/deveroalex" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://dribbble.com/alexdevero" target="_blank"><i class="fa fa-dribbble"></i></a>
            </li>

            <li class="list-divider"></li>

            <li class="nav-item">
              <a href="https://www.behance.net/alexdevero" target="_blank"><i class="fa fa-behance"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a>
            </li>

            <li class="nav-item">
              <a href="http://codepen.io/alexdevero/" target="_blank"><i class="fa fa-codepen"></i></a>
            </li>

            <li class="nav-item">
              <a href="https://instagram.com/alexdevero" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>

            <li class="nav-item">
              <a href="mailto:deveroalex@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </main>

  <!-- Scripts -->
  <!-- Particles.js -->
  <!-- <script src="js/plugins/particles.min.js" async charset="utf-8"></script> -->

  <!-- Typed.js -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js"></script>
  <script>window.Typed || document.write('<script src="js/plugins/typed.min.js"></script>')</script> -->

  <!-- Main Scripts -->
  <script src="js/main.min.js" async charset="utf-8"></script>

  <!-- Google Analytics -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-40173486-1','auto');ga('send','pageview');
  </script>
</body>
</html>
