<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_home=true }}

  {{> head active_home=true lang_cs=false }}
</head>
<body class="page--home">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_process=true lang_cs=false }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <div class="js-typed-en home__intro">
        <!-- <h1 class="js-typed js-typed-h1" data-text="Alex Devero"></h1><!-- glitch effect - ->

        <h2 class="js-typed js-typed-h2"></h2>

        <h3 class="js-typed js-typed-h3"></h3> -->

        <h1 class="glitch" data-text="Alex Devero">Alex Devero</h1><!-- glitch -->

        <h2><span>Czech Designer &#43; Developer &#43; Entrepreneur</span></h2>

        <h3>Creativity &#43; Design &#43; Innovation &#43; Technology</h3>

        <h3 class="no-margin">UI/UX/Web Design &#43; Web Development</h3>
      </div>

      {{!-- {{> particles }} --}}
      {{> shoal-fish }}
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
