<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_home=true }}

  {{> head active_home=true lang_cs=false }}
</head>
<body class="page--home">
  {{> browser-notification }}

  {{> manifest }}

  {{> preloader-volume }}

  <main>
    {{> header active_home=true lang_cs=false }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <div class="js-typed-en home__intro">
        <h1>{{{ pageHome.h1-en }}}</h1>

        <h2>{{{ pageHome.h2-en }}}</h2>

        <h3>{{{ pageHome.h3-en }}}</h3>
      </div>

      {{> particles-custom }}
    </section>

    {{> footer }}
  </main>

  {{> scripts has-particlesjs=true }}
</body>
</html>
