<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_lab=true }}

  {{> head active_lab=true lang_cs=false }}
</head>
<body class="page--experiments">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_lab=true lang_cs=false }}

    <section id="sec__works" class="sec__works">
      <div class="container-fluid">
        <h1 class="h1 text--center">Results of my last <span class="text--red">experiments</span>.</h1>

        <h2 class="h2 text--center">Code for most of these experiments is on my <a class="link--red link--underline" href="https://github.com/alexdevero">GitHub</a>.</h2>

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__description">
            <h3>Model of Solar System</h3>

            <h4>Tech stack: HTML5, CSS3</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="/solar-system.html">View</a>
            </div>
          </div>

          <div class="col-md-6 work__thumbnail">
            <img class="img-responsive works__thumbnail" data-emergence="hidden" data-src="images/experiments/solar-system/experiment-solar-system@1x.png" data-srcset="images/experiments/solar-system/experiment-solar-system@1x.png 1x, images/experiments/solar-system/experiment-solar-system@2x.png 2x" alt="Model of Solar System thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/experiments/solar-system/experiment-solar-system@1x.png" srcset="images/experiments/solar-system/experiment-solar-system@1x.png 1x, images/experiments/solar-system/experiment-solar-system@2x.png 2x" alt="Model of Solar System thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/experiments/solar-system/experiment-solar-system@1x.png" srcset="images/experiments/solar-system/experiment-solar-system@1x.png 1x, images/experiments/solar-system/experiment-solar-system@2x.png 2x" alt="Model of Solar System thumbnail">
            <![endif]-->
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" data-emergence="hidden" data-src="images/experiments/ai-fish/experiment-ai-fish@1x.png" data-srcset="images/experiments/ai-fish/experiment-ai-fish@1x.png 1x, images/experiments/ai-fish/experiment-ai-fish@2x.png 2x" alt="Ai fish thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/experiments/ai-fish/experiment-ai-fish@1x.png" srcset="images/experiments/ai-fish/experiment-ai-fish@1x.png 1x, images/experiments/ai-fish/experiment-ai-fish@2x.png 2x" alt="Ai fish thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="lazy img-responsive works__thumbnail" src="images/experiments/ai-fish/experiment-ai-fish@1x.png 1x" srcset="images/experiments/ai-fish/experiment-ai-fish@1x.png 1x, images/experiments/ai-fish/experiment-ai-fish@2x.png 2x" alt="Ai fish thumbnail">
            <![endif]-->
          </div>

          <div class="col-md-6 work__description">
            <h3>AI "Fish"</h3>

            <h4>Tech stack: AI, HTML5, JavaScript</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="/ai.html">View</a>
            </div>
          </div>
        </div><!-- end .row -->

        {{> cta-button lang_cs=false }}
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts has-lazyload=true has-emergence=true }}
</body>
</html>
