<!doctype html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_work_cs=true }}

  {{> head active_work=true lang_cs=true }}
</head>
<body class="page--portfolio">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_work=true lang_cs=true }}

    <section id="sec__works" class="sec__works">
      <div class="container-fluid">
        <h1 class="h1 text--center">Několik ukázek <span class="text--red">mé práce</span>.</h1>

        <h2 class="h2 text--center">Ukázky mého kódu naleznete na mém <a class="link--red link--underline" href="https://github.com/alexdevero">GitHubu</a> &amp; <a class="link--red link--underline" href="http://codepen.io/alexdevero">Codepenu</a>.</h2>

        {{!-- <h3 class="h3 text--center">Případové studie jsou na cestě.</h3> --}}

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@1x.jpg" data-srcset="images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@2x.jpg 2x" alt="Česká Whisky thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@1x.jpg" srcset="images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@2x.jpg 2x" alt="Česká Whisky thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@1x.jpg" data-srcset="images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-ceska-whisky-dribbble-thumbnail@2x.jpg 2x" alt="Česká Whisky thumbnail">
            <![endif]-->
          </div>

          <div class="col-md-6 work__description">
            <h3>Česká Whisky</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://dribbble.com/shots/3721890-Ceska-Whisky-web-design">Dribbble</a>
            </div>
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__description">
            <h3>Tesla Model 3 Landing page</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://dribbble.com/shots/3555015-Tesla-Web-Design-Concept">Dribbble</a>
            </div>
          </div>

          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@1x.jpg" data-srcset="images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@2x.jpg 2x" alt="Tesla Model 3 thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@1x.jpg" srcset="images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@2x.jpg 2x" alt="Tesla Model 3 thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@1x.jpg" data-srcset="images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-tesla-web-design-concept-dribbble-thumbnail@2x.jpg 2x" alt="Tesla Model 3 thumbnail">
            <![endif]-->
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg" data-srcset="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@2x.jpg 2x" alt="Harley Davidson thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg" srcset="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@2x.jpg 2x" alt="Harley Davidson thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg" data-src="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg" data-srcset="images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@1x.jpg 1x, images/portfolio/thumbnail-harley-davidson-dribbble-thumbnail@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>

          <div class="col-md-6 work__description">
            <h3>Harley-Davidson</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://dribbble.com/shots/3542627-Harley-Davidson-page-concept">Dribbble</a>
            </div>
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__description">
            <h3>Barber Shop Cedric</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://www.behance.net/gallery/37465181/Barber-Shop-Cedric">Behance</a>
            </div>
          </div>

          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-barbershop@1x.jpg" data-srcset="images/portfolio/thumbnail-barbershop@1x.jpg 1x, images/portfolio/thumbnail-barbershop@2x.jpg 2x" alt="Barber Shop Cedric thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-barbershop@1x.jpg" srcset="images/portfolio/thumbnail-barbershop@1x.jpg 1x, images/portfolio/thumbnail-barbershop@2x.jpg 2x" alt="Barber Shop Cedric thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-barbershop@1x.jpg" data-src="images/portfolio/thumbnail-barbershop@1x.jpg" data-srcset="images/portfolio/thumbnail-barbershop@1x.jpg 1x, images/portfolio/thumbnail-barbershop@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail no-js-img" src="images/loader.gif" data-src="images/portfolio/thumbnail-sumava@1x.jpg" data-srcset="images/portfolio/thumbnail-sumava@1x.jpg 1x, images/portfolio/thumbnail-sumava@2x.jpg 2x" alt="Sumava thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-sumava@1x.jpg" srcset="images/portfolio/thumbnail-sumava@1x.jpg 1x, images/portfolio/thumbnail-sumava@2x.jpg 2x" alt="Sumava thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-sumava@1x.jpg" data-src="images/portfolio/thumbnail-sumava@1x.jpg" data-srcset="images/portfolio/thumbnail-sumava@1x.jpg 1x, images/portfolio/thumbnail-sumava@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>

          <div class="col-md-6 work__description">
            <h3>Sumava</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://creativemarket.com/alexdevero/324315-Sumava-%E2%80%93-HTML5-template">CreativeMarket</a>
            </div>
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__description">
            <h3>Ultron</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://www.behance.net/gallery/37465689/Avengers-Age-of-Ultron">Behance</a>
            </div>
          </div>

          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-avengers@1x.jpg" data-srcset="images/portfolio/thumbnail-avengers@1x.jpg 1x, images/portfolio/thumbnail-avengers@2x.jpg 2x" alt="Ultron thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-avengers@1x.jpg" srcset="images/portfolio/thumbnail-avengers@1x.jpg 1x, images/portfolio/thumbnail-avengers@2x.jpg 2x" alt="Ultron thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-avengers@1x.jpg" data-src="images/portfolio/thumbnail-avengers@1x.jpg" data-srcset="images/portfolio/thumbnail-avengers@1x.jpg 1x, images/portfolio/thumbnail-avengers@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-maelstrom@1x.jpg" data-srcset="images/portfolio/thumbnail-maelstrom@1x.jpg 1x, images/portfolio/thumbnail-maelstrom@2x.jpg 2x" alt="Maelstrom thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-maelstrom@1x.jpg" srcset="images/portfolio/thumbnail-maelstrom@1x.jpg 1x, images/portfolio/thumbnail-maelstrom@2x.jpg 2x" alt="Maelstrom thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-maelstrom@1x.jpg" data-src="images/portfolio/thumbnail-maelstrom@1x.jpg" data-srcset="images/portfolio/thumbnail-maelstrom@1x.jpg 1x, images/portfolio/thumbnail-maelstrom@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>

          <div class="col-md-6 work__description">
            <h3>Maelstrom</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://creativemarket.com/alexdevero/484417-MAELSTROM-Multi-Purpose-Template">CreativeMarket</a>
            </div>
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__description">
            <h3>Trinity</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://creativemarket.com/alexdevero/357543-Trinity-Bootstrap-3-4-Template">CreativeMarket</a>
            </div>
          </div>

          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-trinity@1x.jpg" data-srcset="images/portfolio/thumbnail-trinity@1x.jpg 1x, images/portfolio/thumbnail-trinity@2x.jpg 2x" alt="Trinity thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-trinity@1x.jpg" srcset="images/portfolio/thumbnail-trinity@1x.jpg 1x, images/portfolio/thumbnail-trinity@2x.jpg 2x" alt="Trinity thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-trinity@1x.jpg" data-src="images/portfolio/thumbnail-trinity@1x.jpg" data-srcset="images/portfolio/thumbnail-trinity@1x.jpg 1x, images/portfolio/thumbnail-trinity@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>
        </div><!-- end .row -->

        <!-- Begin .row -->
        <div class="row work__row">
          <div class="col-md-6 work__thumbnail">
            <img class="lazy img-responsive works__thumbnail" src="images/loader.gif" data-src="images/portfolio/thumbnail-nemesis@1x.jpg" data-srcset="images/portfolio/thumbnail-nemesis@1x.jpg 1x, images/portfolio/thumbnail-nemesis@2x.jpg 2x" alt="Nemesis thumbnail">

            <noscript>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-nemesis@1x.jpg" srcset="images/portfolio/thumbnail-nemesis@1x.jpg 1x, images/portfolio/thumbnail-nemesis@2x.jpg 2x" alt="Nemesis thumbnail">
            </noscript>

            <!--[if lte IE 8]>
              <img class="img-responsive works__thumbnail" src="images/portfolio/thumbnail-nemesis@1x.jpg" data-src="images/portfolio/thumbnail-nemesis@1x.jpg" data-srcset="images/portfolio/thumbnail-nemesis@1x.jpg 1x, images/portfolio/thumbnail-nemesis@2x.jpg 2x" alt="Harley Davidson thumbnail">
            <![endif]-->
          </div>

          <div class="col-md-6 work__description">
            <h3>Nemesis</h3>

            <h4>UI / UX design, Web design</h4>

            <div>
              <a class="btn btn--ghost--black-inverted btn--contact" href="https://creativemarket.com/alexdevero/351134-Nemesis-Responsive-HTML-Template">CreativeMarket</a>
            </div>
          </div>
        </div><!-- end .row -->

        {{> cta-button lang_cs=true }}
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts has-lazyload=true }}
</body>
</html>
