/**
 * Header
 */
header {
  //position: fixed;
  position: absolute;
  top: 0;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
header a {
  color: #fff;
  &:focus,
  &:hover {
    color: #707070;
    border-bottom: 1px solid;
  }
}
