{{#if lang_cs }}
  <div class="text--center">
    <a class="btn btn--ghost--black-inverted btn--contact" href="contact-cs.html">Navažme kontakt</a>
  </div>
{{else}}
  <div class="text--center">
    <a class="btn btn--ghost--black-inverted btn--contact" href="contact.html">Let's talk</a>
  </div>
{{/if}}
