{{#if lang_cs }}
<h1 class="h2 mt-4">Některé <span class="text--red">společnosti</span> s nimiž jsem pracoval:</h1>

<div class="row row--logos logos--companies">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--startmonday" src="./images/logos/logo-startmonday-black.svg" alt="StartMonday logo" title="StartMonday">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--manapgroup" src="./images/logos/logo-manapgroup.svg" alt="ManapGroup logo" title="ManapGroup">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--damejidlo" src="./images/logos/logo-damejidlo.svg" alt="DámeJídlo logo" title="DámeJídlo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--spacebar" src="./images/logos/logo-spacebar.svg" alt="SpaceBar logo" title="SpaceBar">
  </div>
</div>

<div class="row row--logos logos--companies">
  <div class="col-xs-12 col-sm-6">
    <img class="logo logo--uol" src="./images/logos/logo-uol.svg" alt="UOL - Účetnictví online logo" title="UOL - Účetnictví online">
  </div>

  <div class="col-xs-12 col-sm-6">
    <img class="logo logo--ritetag" src="./images/logos/logo-ritetag.svg" alt="RiteTag logo" title="RiteTag">
  </div>
</div>

<h1 class="h2 mt-4">Některé <span class="text--red">publikace</span> do kterých přispívám:</h1>

<div class="row row--logos logos--publications">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--net" src="./images/logos/logo-net.svg" alt="Dot Net logo" title="Dot Net">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--alistapart" src="./images/logos/logo-a-list-apart.svg" alt="A List Apart logo" title="A List Apart">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--codementor" src="./images/logos/logo-codementor.svg" alt="Codementor logo" title="Codementor">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--codementor" src="./images/logos/logo-on-advertising-long.svg" alt="On Advertising logo" title="On Advertising">
  </div>
</div>

<div class="row row--logos logos--publications">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="logo logo--business-daily" src="./images/logos/logo-business-daily.svg" alt="Business Daily logo" title="Business Daily">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="logo logo--codeburstio" src="./images/logos/logo-codeburstio.svg" alt="Codeburst.io logo" title="Codeburst.io">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="logo logo--hackernoon" src="./images/logos/logo-hackernoon.svg" alt="Hackernoon logo" title="Hackernoon">
  </div>
</div>
{{else}}
<h2 class="h2 mt-4">Some <span class="text--red">companies</span> I've been working with:</h2>

<div class="row row--logos logos--companies">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--startmonday" src="./images/logos/logo-startmonday-black.svg" alt="StartMonday logo" title="StartMonday">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--manapgroup" src="./images/logos/logo-manapgroup.svg" alt="ManapGroup logo" title="ManapGroup">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--damejidlo" src="./images/logos/logo-damejidlo.svg" alt="DámeJídlo logo" title="DámeJídlo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--spacebar" src="./images/logos/logo-spacebar.svg" alt="SpaceBar logo" title="SpaceBar">
  </div>
</div>

<div class="row row--logos logos--companies">
  <div class="col-xs-12 col-sm-6">
    <img class="logo logo--uol" src="./images/logos/logo-uol.svg" alt="UOL - Účetnictví online logo" title="UOL - Účetnictví online">
  </div>

  <div class="col-xs-12 col-sm-6">
    <img class="logo logo--ritetag" src="./images/logos/logo-ritetag.svg" alt="RiteTag logo" title="RiteTag">
  </div>
</div>

<h2 class="h2 mt-4">Some <span class="text--red">publications</span> I contribute to:</h2>

<div class="row row--logos logos--publications">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--net" src="./images/logos/logo-net.svg" alt="Dot Net logo" title="Dot Net">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--alistapart" src="./images/logos/logo-a-list-apart.svg" alt="A List Apart logo" title="A List Apart">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--codementor" src="./images/logos/logo-codementor.svg" alt="Codementor logo" title="Codementor">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--codementor" src="./images/logos/logo-on-advertising-long.svg" alt="On Advertising logo" title="On Advertising">
  </div>
</div>

<div class="row row--logos logos--publications">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="logo logo--business-daily" src="./images/logos/logo-business-daily.svg" alt="Business Daily logo" title="Business Daily">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="logo logo--codeburstio" src="./images/logos/logo-codeburstio.svg" alt="Codeburst.io logo" title="Codeburst.io">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <img class="logo logo--hackernoon" src="./images/logos/logo-hackernoon.svg" alt="Hackernoon logo" title="Hackernoon">
  </div>
</div>
{{/if}}
