<div class="row row--logos logos--tech-stack">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--html" src="./images/logos/tech-stack/logo-html5.svg" alt="HTML5 logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--css" src="./images/logos/tech-stack/logo-css3.svg" alt="CSS3 logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--javascript" src="./images/logos/tech-stack/logo-javascript-2.svg" alt="JavaScript logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--sass" src="./images/logos/tech-stack/logo-sass.svg" alt="Sass logo">
  </div>
</div>

<div class="row row--logos logos--tech-stack">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--postcss" src="./images/logos/tech-stack/logo-postcss.svg" alt="PostCSS logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--git" src="./images/logos/tech-stack/logo-git.svg" alt="Git logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--bootstrap" src="./images/logos/tech-stack/logo-bootstrap.svg" alt="Bootstrap logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--foundation" src="./images/logos/tech-stack/logo-foundation.svg" alt="Zurb Foundation logo">
  </div>
</div>

<div class="row row--logos logos--tech-stack">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--nodejs" src="./images/logos/tech-stack/logo-nodejs.svg" alt="Node.js logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--reactjs" src="./images/logos/tech-stack/logo-reactjs.svg" alt="ReactJS logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--jquery" src="./images/logos/tech-stack/logo-jquery.svg" alt="jQuery logo">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--gulpjs" src="./images/logos/tech-stack/logo-gulpjs.svg" alt="Gulp.js logo">
  </div>
</div>

<div class="row row--logos logos--companies">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--webpack" src="./images/logos/tech-stack/logo-webpack.svg" alt="Webpack logo">
  </div>
</div>
