<div class="row row--logos logos--tech-stack">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--html" src="./images/logos/tech-stack/logo-html5.svg" alt="HTML5 logo" title="HTML5">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--css" src="./images/logos/tech-stack/logo-css3.svg" alt="CSS3 logo" title="CSS3">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--javascript" src="./images/logos/tech-stack/logo-javascript-2.svg" alt="JavaScript logo" title="JavaScript">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--sass" src="./images/logos/tech-stack/logo-sass.svg" alt="Sass logo" title="Sass">
  </div>
</div>

<div class="row row--logos logos--tech-stack">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--postcss" src="./images/logos/tech-stack/logo-postcss.svg" alt="PostCSS logo" title="PostCSS">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--git" src="./images/logos/tech-stack/logo-git.svg" alt="Git logo" title="Git">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--bootstrap" src="./images/logos/tech-stack/logo-bootstrap.svg" alt="Bootstrap logo" title="Bootstrap">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--foundation" src="./images/logos/tech-stack/logo-foundation.svg" alt="Zurb Foundation logo" title="Zurb Foundation">
  </div>
</div>

<div class="row row--logos logos--tech-stack">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--nodejs" src="./images/logos/tech-stack/logo-nodejs.svg" alt="Node.js logo" title="Node.js">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--reactjs" src="./images/logos/tech-stack/logo-reactjs.svg" alt="ReactJS logo" title="ReactJS">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--jquery" src="./images/logos/tech-stack/logo-jquery.svg" alt="jQuery logo" title="jQuery">
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--gulpjs" src="./images/logos/tech-stack/logo-gulpjs.svg" alt="Gulp.js logo" title="Gulp.js">
  </div>
</div>

<div class="row row--logos logos--companies">
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <img class="logo logo--webpack" src="./images/logos/tech-stack/logo-webpack.svg" alt="Webpack logo" title="Webpack">
  </div>
</div>
