<div class="preloader-volume__wrapper">
  <div class="preloader-volume">
    <div class="preloader-volume__block preloader-volume__block1"></div>

    <div class="preloader-volume__block preloader-volume__block2"></div>

    <div class="preloader-volume__block preloader-volume__block3"></div>

    <div class="preloader-volume__block preloader-volume__block4"></div>

    <div class="preloader-volume__block preloader-volume__block5"></div>

    <div class="preloader-volume__block preloader-volume__block6"></div>

    <div class="preloader-volume__block preloader-volume__block7"></div>
  </div>
</div>
