<!-- Shoal fish info: http://cazala.github.io/shoal/ -->
<div class="js-shoal-fish-info shoal-fish-info"></div>

<canvas id="canvas" class="js-shoal-fish-canvas shoal-fish-canvas"></canvas><!--  end. Shoal fish -->
