/**
 * Buttons
 */

.btn__container {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: $font--quicksand;
  font-size: 1rem;
  border-radius: $radius;
  box-shadow: 0 2px 4px rgba(0,0,0,.05),0 3px 6px rgba(0,0,0,.15);
  cursor: pointer;

  @include transition(all);
  &:focus,
  &:hover {
    box-shadow: 0 6px 9px rgba(0,0,0,.05), 0 9px 12px rgba(0,0,0,.15);
  }
}

.btn--full {
  padding: .5rem 1rem;
  border: 0;
}

.btn--full--black {
  color: #fff;
  background-color: $color--jet;
  &:focus,
  &:hover {
    background-color: $color--tuatara;
  }
}

.btn--full--red {
  color: #fff;
  background-color: $color--red;
  &:focus,
  &:hover {
    color: #fff;
    background-color: darken($color--red, 18%);
  }
}

.btn--full--white {
  color: $color--jet;
  background-color: #fff;
  &:focus,
  &:hover {
    color: #fff;
    background-color: palette(grey, 600);
  }
}

.btn--full--gold {
  color: #fff¨;
  background-color: $color--gold;
  &:focus,
  &:hover {
    background-color: darken($color--gold, 18%);
  }
}

.btn--ghost {
  padding: .5rem 2rem;
  background: transparent;
  border: 1px solid;
}

.btn--ghost--black {
  color: $color--jet;
  &:focus,
  &:hover {
    color: $color--oil;
  }
}

.btn--ghost--gold {
  color: $color--gold;
  &:focus,
  &:hover {
    color: darken($color--gold, 18%);
  }
}

.btn--ghost--red {
  color: $color--red;
  &:focus,
  &:hover {
    color: darken($color--red, 18%);
  }
}

.btn--ghost--white {
  color: #fff;
  &:focus,
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: transparent;
  }
}
