/**
 * Buttons
 */

.btn__container {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: $font-quicksand;
  font-size: 1rem;
  border-radius: $radius;
  cursor: pointer;
  
  @include box-shadow(2);

  @include transition(all);

  &:focus,
  &:hover {
    @include box-shadow(2);
  }
}

.btn--full {
  padding: .5rem 1rem;
  border: 0;
}

.btn--full--black {
  color: #fff;
  background-color: map-get($palette-foundation, jet);

  &:focus,
  &:hover {
    background-color: map-get($palette-foundation, tuatara);
  }
}

.btn--full--red {
  color: #fff;
  background-color: map-get($palette-custom, black);

  &:focus,
  &:hover {
    color: #fff;
    background-color: map-get($palette-custom, red);
  }
}

.btn--full--white {
  color: map-get($palette-foundation, jet);
  background-color: #fff;

  &:focus,
  &:hover {
    color: #fff;
    background-color: palette-grabber($palette-material, grey, 600);
  }
}

.btn--full--gold {
  color: #fff;
  background-color: map-get($palette-custom, gold);

  &:focus,
  &:hover {
    background-color: darken(map-get($palette-custom, gold), 18%);
  }
}

.btn--ghost {
  padding: .5rem 2rem;
  background: transparent;
  border: 1px solid;
}

.btn--ghost--black {
  color: map-get($palette-foundation, jet);

  &:focus,
  &:hover {
    color: map-get($palette-foundation, oil);
  }
}

.btn--ghost--black-inverted {
  padding: .5rem 2rem;
  font-weight: 600;
  letter-spacing: remy(4px);
  text-transform: uppercase;
  color: map-get($palette-custom, black);
  background: transparent;
  border: 2px solid map-get($palette-custom, black);

  &:focus,
  &:hover {
    color: #fff;
    background: map-get($palette-custom, black);
  }
}

.btn--ghost--gold {
  color: map-get($palette-custom, gold);

  &:focus,
  &:hover {
    color: darken(map-get($palette-custom, gold), 18%);
  }
}

.btn--ghost--red {
  color: map-get($palette-custom, red);
}

.btn--ghost--red-inverted {
  padding: .5rem 2rem;
  font-weight: 600;
  letter-spacing: remy(4px);
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 2px solid map-get($palette-custom, red);

  &:focus,
  &:hover {
    color: #fff;
    background: map-get($palette-custom, red);
  }
}

.btn--ghost--white {
  color: #fff;

  &:focus,
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: transparent;
  }
}
