/**
 * Forms
 */

.form__details input,
.form__subject select,
.form__message textarea {
  display: block;
  padding: 13px;
  margin: auto;
  width: 100%;
  font-family: $font-quicksand;
  font-size: 1rem;
  color: map-get($palette-custom, black);
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #bbb;
  border-left: 0;
  border-radius: 0;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;

  @include transition(all);

  &:focus {
    outline: 0;
    border-bottom: 1px solid #212121;
  }
}

label {
  display: inline-block;
  width: 100%;
  font-size: .75rem;
  font-weight: 700;
  color: rgba(33,33,33,.85);
  text-transform: uppercase;
}

.form__subject select {
  color: map-get($palette-custom, black);
}

.form__details,
.form__message {
  margin-bottom: 1em;
}

.form__details .col-md-6:first-of-type {
  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.form__message textarea {
  height: remy(160px);
  resize: vertical;
}

.form__button {
  text-align: center;
}
