/**
 * Links
 */

.link--default {
  color: $color--flat-pete-river;

  &:focus,
  &:hover {
    color: $color--flat-belize-hole;
  }
}

.link--black {
  color: map-get($palette-foundation, jet);

  &:focus,
  &:hover {
    color: $color--gold;
  }
}

.link--gold {
  color: $color--gold;

  &:focus,
  &:hover {
    color: map-get($palette-foundation, oil);
  }
}

.link--grey {
  color: map-get($palette-foundation, jumbo);

  &:focus,
  &:hover {
    color: map-get($palette-foundation, white);
  }
}

.link--red {
  color: $color--red;

  &:focus,
  &:hover {
    color: $color--black;
  }
}

.link--underline {
  border-bottom: 1px solid;
}

.link--violet {
  color: map-get($palette-foundation, jet);

  &:focus,
  &:hover {
    color: $color--red;
  }
}

.link--white {
  color: map-get($palette-foundation, white);

  &:focus,
  &:hover {
    color: map-get($palette-foundation, aluminum);
  }
}

.link--disabled {
  color: map-get($palette-foundation, jet);
  cursor: default;

  &:focus,
  &:hover {
    color: map-get($palette-foundation, jet);
  }
}
