/**
 * Navigations
 */

.nav {
  display: none;

  @media only screen and (min-width: 864px) {
    display: flex;
  }
}

.nav--main {
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  background-color: rgba(1,1,1,.95);

  @include transition(all);
}

.checkbox--nav:checked + .nav__container > .nav--main {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 863px) {
  .nav--main li:nth-child(n+2) {
    margin-top: .35rem;
  }

  .nav--main a {
    font-size: 1.65rem;
    color: #fff;

    &:focus,
    &:hover {
      color: $color--red;
    }
  }
}

@media screen and (min-width: 864px) {
  .nav--main li:nth-of-type(n+2) {
    margin-left: 1rem;
  }
}

.navbar-toggler {
  display: none;
  padding-top: .5rem;
  padding-right:  remy(9.43px);
  padding-bottom: .5rem;
  padding-left:  remy(9.43px);
  margin-top: -15px;
  width: inherit;
  font-size: 1.75rem;
  color: $color--black;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;

  @include transition(color);

  &:focus,
  &:hover {
    color: $color--red;
  }
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.nav--main .navbar-toggler {
  padding-top: .25rem;
  padding-right: 1.1rem;
  padding-bottom: .25rem;
  padding-left: 1.1rem;
  font-size: 2rem;
  color: #fff;

  &:focus,
  &:hover {
    color: $color--red;
  }
}

.nav--media i {
  font-size: 1.7rem;
}

.nav--media a {
  font-weight: 700;
  color: $color--black;

  &:focus,
  &:hover {
    color: $color--red;
  }
}

.nav--footer {
  display: inline-block;/* No flexbox fallback */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav--footer li {
  float: left;
}

.nav--footer li:nth-of-type(n+2) {
  margin-left: 1rem;
}

/* Experimental menu */
.main-nav-label {
  display: block;
  display: inline;
  float: right;
  padding: .15rem 7px;
  margin-right: 1rem;
  width: remy(76.52px);
  font-size: 1.15rem;
  font-weight: 700;
  color: $color--black;
  text-align: right;
  text-transform: uppercase;
  border: remy(3px) solid;
  cursor: pointer;
}

.nav--main {
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: $color--black;
  transition: transform .25s cubic-bezier(.4, 0, 1, 1);
  transform: translateX(100%);

  @media screen and (min-width: 556px) {
    max-width: remy(320px);
    box-shadow: -6px 0 6px rgba(20,20,20,.35);
    transform: translateX(328px);
  }

  .navbar-toggler {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: 556px) {
      margin-left: remy(12px);
    }
  }
}

.nav--main a {
  font-size: 1.5rem;
  color: #fff;
}

[type=checkbox]:checked + ul {
  transform: translateX(0);
}
