/**
 * Contact Page
 */

.page--contact {
  .sec__main {
    position: relative;
    min-height: 700px;

    @media screen and (min-width: 768px) {
      margin-bottom: -63px;
      height: calc(100% - 101px); // 101 - height of header
    }
  }

  .about__contact {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (max-height: 744px) {
      margin-top: 32px;
    }

    @media screen and (min-width: 768px) and (min-height: 800px) {
      position: absolute;
      top: 25%;
      right: 0;
      left: 0;
      transform: translateY(-25%);
    }
  }

  h1 {
    font-weight: 700;
    text-transform: inherit;
  }

  p {
    font-size: 18px;
  }

  footer {
    @media screen and (max-height: 744px) {
      margin-top: 32px;
    }
  }

  .contact-card--hidden {
    display: none;
  }

  .contact-card--qr {
    img {
      margin: auto;
      display: block;
    }
  }
}
