/**
 * Home page
 */

.page--home {
  main {
    position: relative;
  }

  .sec__main {
    position: relative;
    margin-bottom: -107px;

    @media (min-width: 461px) {
      margin-bottom: -63px;
    }

    @media (max-width: 505px) {
      overflow-x: hidden;
    }
  }

  .hero--big {
    min-height: 720px;

    @media screen and (min-width: 480px) {
      min-height: 600px;
    }
  }

  header {
    position: absolute;
    top: 0;
    z-index: 99;

    a,
    .navbar-toggler {
      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }

  footer {
    width: 100%;
    background-color: transparent;

    a {
      color: #ababab;

      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
        opacity: 1;
      }
    }
  }

  .footer__media {
    padding-bottom: 0;
  }
}

.home__intro {
  z-index: 3;
  padding: 0 18px;
  color: map-get($palette-custom, black);
  text-align: center;

  @include vertical-align;

  h1,
  h2,
  h3 {
    color: map-get($palette-custom, red);
  }

  // h2,
  // h3,
  // .intro__icon {
  //   color: #a9a9a9;
  // }

  h2,
  h3 {
    margin-top: 0;
    color: map-get($palette-custom, black);

    span {
      padding-top: 4px;
      padding-right: 15px;
      padding-bottom: 4px;
      padding-left: 15px;
    }
  }

  // .intro__icon {
  //   margin-top: 18px;
  //   font-size: 34px;
  //   cursor: -webkit-grab;
  // }

  // .heading-devero {
  //   font-family: 'Devero', arial, sans-serif;
  //   font-size: 64px;
  //   font-weight: 600;
  //   line-height: 1.4;
  //
  //   @media screen and (min-width: 390px) {
  //     font-size: 96px;
  //   }
  //
  //   @media screen and (min-width: 768px) {
  //     font-size: 112px;
  //   }
  // }

  h1 {
    // margin-bottom: 32px;
    margin-bottom: 14px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;

    @media screen and (min-width: 481px) {
      font-size: 48px;
    }

    @media screen and (min-width: 581px) {
      font-size: 58px;
    }

    br {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  h2 {
    // margin-bottom: 32px;
    margin-bottom: 18px;
    font-size: 26px;
    // color: map-get($palette-custom, black);

    @media screen and (min-width: 481px) {
      font-size: 28px;
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: 24px;
  }
}
