/**
 * Solar system
 */

// src: https://codepen.io/alexdevero/pen/WdJWGM

.system__universe {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: cover;
}

.system__galaxy {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 4000px;
}

.system__solar-system {
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  animation-name: orbit;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transform-style: preserve-3d;
}

.orbit .orbit {
  animation-name: suborbit;
}

.pos {
  position: absolute;
  top: 50%;
  margin-top: -1em;
  margin-left: -1em;
  width: 2em;
  height: 2em;
  animation-name: invert;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transform-style: preserve-3d;
}

.system__sun,
.planet,
.system__earth .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;

  transform-style: preserve-3d;
}

.system__sun {
  background-color: #fb7209;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 60px rgba(255, 160, 60, .4);
}

.planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.system__saturn .ring {
  margin-top: -1em;
  margin-left: -1em;
  width: 2em;
  height: 2em;
  border: .3em solid rgba(160, 147, 130, .7);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.system__saturn .ring:after {
  box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.1em;
  margin-left: -1.1em;
  width: 2.2em;
  height: 2.2em;
  content: "";
  border: .07em solid rgba(160, 147, 130, .5);
  border-radius: 50%;
}

/* --------------------------------------------------------------------------- planets index */

.system__mercury {
  z-index: 10;
}

.system__venus {
  z-index: 9;
}

.system__earth {
  z-index: 8;
}

#moon {
  z-index: 7;
}

.system__mars {
  z-index: 6;
}

.system__jupiter {
  z-index: 5;
}

.system__saturn {
  z-index: 4;
}

.system__uranus {
  z-index: 3;
}

.system__neptune {
  z-index: 2;
}

.system__sun {
  z-index: 1;
}

/* --------------------------------------------------------------------------- animations */

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

/* --------------------------------------------------------------------------- opening */

.view-3D .opening .system__sun,
.view-3D .opening .orbit,
.view-3D .opening .pos,
.view-3D .opening .planet,
.view-3D .opening .satelite,
.view-3D .opening .ring {
  transition-duration: 4s;
}

.system__universe.opening .system__sun {
  box-shadow: 0 0 0 rgba(255, 160, 60, 0);
}

/* --------------------------------------------------------------------------- 2D view */

.view-2D.zoom-large .system__sun {
  transform-style: flat;
}

.view-2D.zoom-large .orbit {
  transform-style: flat;
}

.view-2D .system__sun,
.view-2D .ring {
  transform: rotateX(0deg);
}

.view-2D .planet,
.view-2D .moon {
  transform: rotateX(90deg);
}

/* --------------------------------------------------------------------------- 3D view */

.view-3D.zoom-large .system__sun {
  transform-style: preserve-3d;
}

.view-3D.zoom-large .orbit {
  transform-style: preserve-3d;
}

.view-3D .system__solar-system {
  transform: rotateX(75deg);
}

.view-3D .system__sun {
  transform: rotateX(-90deg);
}

.view-3D .ring {
  transform: rotateX(90deg);
}

.view-3D .planet,
.view-3D .moon {
  transform: rotateX(0deg);
}

/* --------------------------------------------------------------------------- large zoom */

.zoom-large .system__solar-system {
  width: 100%;
}

.zoom-large.view-2D .scale-stretched .system__solar-system {
  font-size: 26%;
}

.zoom-large.view-3D .scale-stretched .system__solar-system {
  font-size: 62%;
}

.zoom-large.view-2D .scale-d .system__solar-system {
  font-size: 22%;
}

.zoom-large.view-3D .scale-d .system__solar-system {
  font-size: 48%;
}

.zoom-large.view-2D .scale-s .system__solar-system {
  font-size: 7%;
}

.zoom-large.view-3D .scale-s .system__solar-system {
  font-size: 14%;
}

/* --------------------------------------------------------------------------- close zoom */

.zoom-close .system__solar-system {
  width: 200%;
  font-size: 100%;
}

.zoom-close .scale-stretched .system__solar-system {
  margin-left: -100%;
}

.zoom-close .scale-d .system__solar-system {
  margin-left: -106%;
}

.zoom-close.view-2D .scale-d .system__solar-system {
  font-size: 84%;
}

.zoom-close.view-3D .scale-d .system__solar-system {
  font-size: 84%;
}

.zoom-close .scale-s .system__solar-system {
  margin-left: -145%;
}

.zoom-close.view-2D .scale-s .system__solar-system {
  font-size: 40%;
}

.zoom-close.view-3D .scale-s .system__solar-system {
  font-size: 40%;
}

.zoom-close .orbit,
.zoom-close .pos,
.zoom-close .planet,
.zoom-close .satelite,
.zoom-close .ring {
  animation: none!important;
  animation-duration: 0s!important;
  animation-play-state: paused!important;
}

.zoom-close.view-2D .planet,
.zoom-close.view-2D .moon {
  transform: rotateX(0deg);
}

.zoom-close.view-3D .planet {
  transform: rotateX(-90deg);
}

.zoom-close.view-3D .moon {
  transform: rotateX(90deg);
}

.zoom-close .pos {
  top: 50%!important;
  left: 100%!important;
}

/* --------------------------------------------------------------------------- data */

/* --------------------------------------------------------------------------- speed */


/* sideral years */

.system__mercury .pos,
.system__mercury .planet,
.system__mercury.orbit {
  animation-duration: 2.89016s;
}

.system__venus .pos,
.system__venus .planet,
.system__venus.orbit {
  animation-duration: 7.38237s;
}

.system__earth .pos,
.system__earth .planet,
.system__earth.orbit {
  animation-duration: 12.00021s;
}

.system__earth .orbit .pos,
.system__earth .orbit {
  animation-duration: .89764s;
}

.system__mars .pos,
.system__mars .planet,
.system__mars.orbit {
  animation-duration: 22.57017s;
}

.system__jupiter .pos,
.system__jupiter .planet,
.system__jupiter.orbit {
  animation-duration: 142.35138s;
}

.system__saturn .pos,
.system__saturn .planet,
.system__saturn.orbit,
.system__saturn .ring {
  animation-duration: 353.36998s;
}

.system__uranus .pos,
.system__uranus .planet,
.system__uranus.orbit {
  animation-duration: 1008.20215s;
}

.system__neptune .pos,
.system__neptune .planet,
.system__neptune.orbit {
  animation-duration: 1977.49584s;
}

/* --------------------------------------------------------------------------- planets sizes */

/* --------------------------------------------------------------------------- stretched sizes */

.scale-stretched .system__sun {
  font-size: 24em;
}

.scale-stretched .system__mercury .planet {
  font-size: 1.5em;
}

.scale-stretched .system__venus .planet {
  font-size: 3.72em;
}

.scale-stretched .system__earth .planet {
  font-size: 3.92em;
}

.scale-stretched .system__earth .moon {
  font-size: 1.2em;
}

.scale-stretched .system__mars .planet {
  font-size: 2.9em;
}

.scale-stretched .system__jupiter .planet {
  font-size: 12em;
}

.scale-stretched .system__saturn .planet {
  font-size: 10.8em;
}

.scale-stretched .system__uranus .planet {
  font-size: 4.68em;
}

.scale-stretched .system__neptune .planet {
  font-size: 4.9em;
}

/* --------------------------------------------------------------------------- scaled sizes */

 /*
 (planets radius * 2) * ratio
 */

 /*$distanceScaleRatio:   0.000075em;*/

/* --------------------------------------------------------------------------- planets distance scale sizes */

.scale-m .system__sun {
  font-size: 41.73048em;
}

.scale-m .system__mercury .planet {
  font-size: .14634em;
}

.scale-m .system__venus .planet {
  font-size: .36306em;
}

.scale-m .system__earth .planet {
  font-size: .38226em;
}

.scale-m .system__earth .moon {
  font-size: .08226em;
}

.scale-m .system__mars .planet {
  font-size: .20334em;
}

.scale-m .system__jupiter .planet {
  font-size: 4.19466em;
}

.scale-m .system__saturn .planet {
  font-size: 3.49392em;
}

.scale-m .system__uranus .planet {
  font-size: 1.52172em;
}

.scale-m .system__neptune .planet {
  font-size: 1.47732em;
}

.scale-d .system__sun {
  font-size: 41.73048em;
}

.scale-d .system__mercury .planet {
  font-size: .14634em;
}

.scale-d .system__venus .planet {
  font-size: .36306em;
}

.scale-d .system__earth .planet {
  font-size: .38226em;
}

.scale-d .system__earth .moon {
  font-size: .08226em;
}

.scale-d .system__mars .planet {
  font-size: .20334em;
}

.scale-d .system__jupiter .planet {
  font-size: 4.19466em;
}

.scale-d .system__saturn .planet {
  font-size: 3.49392em;
}

.scale-d .system__uranus .planet {
  font-size: 1.52172em;
}

.scale-d .system__neptune .planet {
  font-size: 1.47732em;
}

/* --------------------------------------------------------------------------- planet size scale sizes */

.scale-s .system__sun {
  font-size: 417.3048em;
}

.scale-s .system__mercury .planet {
  font-size: 1.4634em;
}

.scale-s .system__venus .planet {
  font-size: 3.6306em;
}

.scale-s .system__earth .planet {
  font-size: 3.8226em;
}

.scale-s .system__earth .moon {
  font-size: .8226em;
}

.scale-s .system__mars .planet {
  font-size: 2.0334em;
}

.scale-s .system__jupiter .planet {
  font-size: 41.9466em;
}

.scale-s .system__saturn .planet {
  font-size: 34.9392em;
}

.scale-s .system__uranus .planet {
  font-size: 15.2172em;
}

.scale-s .system__neptune .planet {
  font-size: 14.7732em;
}

/* --------------------------------------------------------------------------- stretched orbits */

.scale-stretched .system__mercury.orbit {
  margin-top: -16em;
  margin-left: -16em;
  width: 32em;
  height: 32em;
}

.scale-stretched .system__venus.orbit {
  margin-top: -20em;
  margin-left: -20em;
  width: 40em;
  height: 40em;
}

.scale-stretched .system__earth.orbit {
  margin-top: -28em;
  margin-left: -28em;
  width: 56em;
  height: 56em;
}

.scale-stretched .system__earth .orbit {
  margin-top: -3em;
  margin-left: -3em;
  width: 6em;
  height: 6em;
}

.scale-stretched .system__mars.orbit {
  margin-top: -36em;
  margin-left: -36em;
  width: 72em;
  height: 72em;
}

.scale-stretched .system__jupiter.orbit {
  margin-top: -50em;
  margin-left: -50em;
  width: 100em;
  height: 100em;
}

.scale-stretched .system__saturn.orbit {
  margin-top: -75em;
  margin-left: -75em;
  width: 150em;
  height: 150em;
}

.scale-stretched .system__uranus.orbit {
  margin-top: -93em;
  margin-left: -93em;
  width: 186em;
  height: 186em;
}

.scale-stretched .system__neptune.orbit {
  margin-top: -105em;
  margin-left: -105em;
  width: 210em;
  height: 210em;
}

/* --------------------------------------------------------------------------- scaled orbits */

/* --------------------------------------------------------------------------- distance scale orbits */

.scale-d .system__mercury.orbit {
  margin-top: -22.37088em;
  margin-left: -22.37088em;
  width: 44.74176em;
  height: 44.74176em;
}

.scale-d .system__venus.orbit {
  margin-top: -23.67869em;
  margin-left: -23.67869em;
  width: 47.35737em;
  height: 47.35737em;
}

.scale-d .system__earth.orbit {
  margin-top: -24.75479em;
  margin-left: -24.75479em;
  width: 49.50959em;
  height: 49.50959em;
}

.scale-d .system__mars.orbit {
  margin-top: -26.79178em;
  margin-left: -26.79178em;
  width: 53.58356em;
  height: 53.58356em;
}

.scale-d .system__jupiter.orbit {
  margin-top: -41.1021em;
  margin-left: -41.1021em;
  width: 82.2042em;
  height: 82.2042em;
}

.scale-d .system__saturn.orbit {
  margin-top: -57.95857em;
  margin-left: -57.95857em;
  width: 115.91713em;
  height: 115.91713em;
}

.scale-d .system__uranus.orbit {
  margin-top: -95.50235em;
  margin-left: -95.50235em;
  width: 191.00471em;
  height: 191.00471em;
}

.scale-d .system__neptune.orbit {
  margin-top: -137.82355em;
  margin-left: -137.82355em;
  width: 275.64709em;
  height: 275.64709em;
}

/* Moon */

.scale-d .system__earth .orbit {
  margin-top: -.5em;
  margin-left: -.5em;
  width: 1em;
  height: 1em;
}

/* --------------------------------------------------------------------------- size scale orbits */

.scale-s .system__mercury.orbit {
  margin-top: -220.6524em;
  margin-left: -220.6524em;
  width: 441.3048em;
  height: 441.3048em;
}

.scale-s .system__venus.orbit {
  margin-top: -228.6524em;
  margin-left: -228.6524em;
  width: 457.3048em;
  height: 457.3048em;
}

.scale-s .system__earth.orbit {
  margin-top: -236.6524em;
  margin-left: -236.6524em;
  width: 473.3048em;
  height: 473.3048em;
}

.scale-s .system__mars.orbit {
  margin-top: -244.6524em;
  margin-left: -244.6524em;
  width: 489.3048em;
  height: 489.3048em;
}

.scale-s .system__jupiter.orbit {
  margin-top: -280.6524em;
  margin-left: -280.6524em;
  width: 561.3048em;
  height: 561.3048em;
}

.scale-s .system__saturn.orbit {
  margin-top: -352.6524em;
  margin-left: -352.6524em;
  width: 705.3048em;
  height: 705.3048em;
}

.scale-s .system__uranus.orbit {
  margin-top: -408.6524em;
  margin-left: -408.6524em;
  width: 817.3048em;
  height: 817.3048em;
}

.scale-s .system__neptune.orbit {
  margin-top: -440.6524em;
  margin-left: -440.6524em;
  width: 881.3048em;
  height: 881.3048em;
}

/* Moon */

.scale-s .system__earth .orbit {
  margin-top: -.5em;
  margin-left: -.5em;
  width: 1em;
  height: 1em;
}

/* --------------------------------------------------------------------------- planets starting position and lighting effect */

/* --------------------------------------------------------------------------- mercury ; pos: Top */

.system__mercury .pos {
  top: -1%;
  left: 50%;
}

.system__mercury .planet {
  animation-name: shadow-mercury;
}

@keyframes shadow-mercury {
  0% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
    /* TOP */
  }

  25% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  50% {
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  50.01% {
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  75% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  100% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
    /* TOP */
  }
}

.scaled.view-2D .system__mercury .planet,
.scaled.view-3D .system__mercury .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- venus ; pos: Left */

.system__venus .pos {
  top: 50%;
  left: 0;
}

.system__venus .planet {
  animation-name: shadow-venus;
}

@keyframes shadow-venus {
  0% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  25% {
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  25.5% {
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  50% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  75% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
    /* TOP */
  }

  100% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
    /* LEFT */
  }
}

.scaled.view-2D .system__venus .planet,
.scaled.view-3D .system__venus .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- earth ; pos: Right */

.system__earth .pos {
  top: 50%;
  left: 100%;
}

.system__earth .planet {
  animation-name: shadow-earth;
}

@keyframes shadow-earth {
  0% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  25% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
    /* TOP */
  }

  50% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  75% {
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  75.01% {
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  100% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
    /* RIGHT */
  }
}

.scaled.view-2D .system__earth .planet,
.scaled.view-3D .system__earth .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- moon */

.system__earth .orbit .pos {
  top: 50%;
  left: 100%;
}

/* --------------------------------------------------------------------------- mars ; pos: Bottom */

.system__mars .pos {
  top: 100%;
  left: 50%;
}

.system__mars .planet {
  animation-name: shadow-mars;
}

@keyframes shadow-mars {
  0% {
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  25% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  50% {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    /* TOP */
  }

  75% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  99.99% {
    box-shadow: inset 18px -10px 10px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  100% {
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }
}

.scaled.view-2D .system__mars .planet,
.scaled.view-3D .system__mars .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- jupiter ; pos: Right */

.system__jupiter .pos {
  top: 50%;
  left: 100%;
}

.system__jupiter .planet {
  animation-name: shadow-jupiter;
}

@keyframes shadow-jupiter {
  0% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  25% {
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, .5);
    /* TOP */
  }

  50% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  75% {
    box-shadow: inset 94px -30px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  75.01% {
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  100% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
    /* RIGHT */
  }
}

.scaled.view-2D .system__jupiter .planet,
.scaled.view-3D .system__jupiter .planet {
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- saturn ; pos: Left */

.system__saturn .pos {
  top: 50%;
  left: 0;
}

.system__saturn .planet {
  animation-name: shadow-saturn;
}

@keyframes shadow-saturn {
  0% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  25% {
    box-shadow: inset 80px -30px 50px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  25.01% {
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  50% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  75% {
    box-shadow: inset -2px 3px 2px rgba(0, 0, 0, .5);
    /* TOP */
  }

  100% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, .5);
    /* LEFT */
  }
}

.scaled.view-2D .system__saturn .planet,
.scaled.view-3D .system__saturn .planet {
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- saturn ring */

/* .system__saturn .ring {
  animation-name: shadow-saturn-ring;
}

@keyframes
 shadow-saturn-ring {
  0% {
    box-shadow: inset -16px 0 4px rgba(20, 40, 50, .45);
    opacity: .4;
  }

  25% {
    box-shadow: inset -5px -30px 12px rgba(20, 40, 50, .3);
    opacity: 1;
  }

  25.01% {
    box-shadow: inset 5px -30px 12px rgba(20, 40, 50, .3);
    opacity: 1;
  }

  50% {
    box-shadow: inset 16px 0 4px rgba(20, 40, 50, .45);
    opacity: .4;
  }

  75% {
    box-shadow: inset 0 30px 50px rgba(20, 40, 50, 0);
    opacity: .3;
  }

  100% {
    box-shadow: inset -16px 0 4px rgba(20, 40, 50, .45);
    opacity: .4;
  }
}

.scaled.view-2D .system__saturn .ring,
.scaled.view-3D .system__saturn .ring {
  box-shadow: inset 16px 0 4px rgba(20, 40, 50, .6);
} */

/* --------------------------------------------------------------------------- uranus ; pos: Left */

.system__uranus .pos {
  top: 50%;
  left: 0;
}

.system__uranus .planet {
  animation-name: shadow-uranus;
}

@keyframes shadow-uranus {
  0% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  25% {
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  25.01% {
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  50% {
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  75% {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    /* TOP */
  }

  100% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, .5);
    /* LEFT */
  }
}

.scaled.view-2D .system__uranus .planet,
.scaled.view-3D .system__uranus .planet {
  box-shadow: inset -8px 0 5px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- neptune ; pos: Top */

.system__neptune .pos {
  top: 0;
  left: 50%;
}

.system__neptune .planet {
  animation-name: shadow-neptune;
}

@keyframes shadow-neptune {
  0% {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    /* TOP */
  }

  25% {
    box-shadow: inset 12px 0 5px rgba(0, 0, 0, .5);
    /* LEFT */
  }

  50% {
    box-shadow: inset 50px -15px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  50.01% {
    box-shadow: inset -50px -15px 40px rgba(0, 0, 0, .5);
    /* BOTTOM */
  }

  75% {
    box-shadow: inset -12px 0 5px rgba(0, 0, 0, .5);
    /* RIGHT */
  }

  100% {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    /* TOP */
  }
}

.scaled.view-2D .system__neptune .planet,
.scaled.view-3D .system__neptune .planet {
  box-shadow: inset -12px 0 5px rgba(0, 0, 0, .5);
  /* RIGHT */
}

/* --------------------------------------------------------------------------- DEBUG
.pos,
.planet,
.orbit,
.ring {
  animation-duration: 20s!important;
}

/* */

/* --------------------------------------------------------------------------- navigation styles */

.sun .system__sun .infos,
.mercury .system__mercury .infos,
.venus .system__venus .infos,
.earth .system__earth .infos,
.mars .system__mars .infos,
.jupiter .system__jupiter .infos,
.saturn .system__saturn .infos,
.uranus .system__uranus .infos,
.neptune .system__neptune .infos {
  opacity: 1;
  transform: rotateX(0deg);
}

.opening .system__solar-system .infos {
  display: none;
}

.mercury .system__mercury.orbit,
.venus .system__venus.orbit,
.earth .system__earth.orbit,
.mars .system__mars.orbit,
.jupiter .system__jupiter.orbit,
.saturn .system__saturn.orbit,
.uranus .system__uranus.orbit,
.neptune .system__neptune.orbit {
  border: 1px solid rgba(255, 255, 255, .8);
}

.hide-UI .orbit {
  border: 1px solid rgba(255, 255, 255, .2) !important;
}

/* --------------------------------------------------------------------------- transitions */

.pos {
  transition-property: top, left;
}

.system__solar-system,
.orbit,
.planet,
.satelite,
.ring {
  transition-property: width, height, top, left, margin-left, margin-top, webkit-transform;
}

.system__sun {
  transition-property: width, height, webkit-transform;
}

.system__solar-system,
.system__sun,
.orbit,
.pos,
.planet,
.satelite,
.ring {
  transition-timing-function: ease-in-out;
  transition-duration: .8s;
}

.system__solar-system,
.system__sun,
.planet,
.satelite,
.ring {
  transition-delay: 0s;
}

.pos {
  transition-delay: 1s;
}

.opening .system__solar-system,
.opening .system__sun,
.opening .orbit,
.opening .pos,
.opening .planet,
.opening .satelite,
.opening .ring,
.opening .infos {
  transition-delay: 0s;
  transition-duration: 0s;
}

.opening .pos {
  transition-delay: 0s;
}

/* --------------------------------------------------------------------------- images */

.page--solar-system:not(.page--ai) {
  background-image: url(../images/experiments/solar-system/bcg-body-space.png);
}

.system__universe {
  background-image: url(../images/experiments/solar-system/bcg-universe.png);
}

.system__sun {
  background-image: url(../images/experiments/solar-system/planet-sun.png);
}

.system__mercury .planet {
  background-image: url(../images/experiments/solar-system/planet-mercury.png);
}

.system__venus .planet {
  background-image: url(../images/experiments/solar-system/planet-venus.png);
}

.system__earth .planet {
  background-image: url(../images/experiments/solar-system/planet-earth.png);
}

.system__earth .moon {
  background-color: white;
}

.system__mars .planet {
  background-image: url(../images/experiments/solar-system/planet-mars.png);
}

.system__jupiter .planet {
  background-image: url(../images/experiments/solar-system/planet-saturn.png);
}

.system__saturn .planet {
  background-image: url(../images/experiments/solar-system/planet-saturn.png);
}

.system__uranus .planet {
  background-image: url(../images/experiments/solar-system/planet-uranus.png);
}

.system__neptune .planet {
  background-image: url(../images/experiments/solar-system/planet-neptune.png);
}

/* --------------------------------------------------------------------------- responsive styles */

@media screen and (max-width: 299px) {
  .system__universe {
    font-size: 20%;
  }
}

@media screen and (min-width: 300px) {
  .system__universe {
    font-size: 24%;
  }
}

@media screen and (min-width: 500px) {
  .system__universe {
    font-size: 36%;
  }
}

@media screen and (min-width: 600px) {
  .system__universe {
    font-size: 44%;
  }
}

@media screen and (min-width: 760px) {
  .system__universe {
    font-size: 58%;
  }
}

@media screen and (min-width: 1000px) {
  .system__universe {
    font-size: 73%;
  }
}

// @media screen and (min-width: 1300px) {
//   .system__universe {
//     font-size: 100%;
//   }
// }

@media screen and (min-width: 1600px) {
  .zoom-close .scale-d .system__solar-system {
    margin-left: -120%;
  }
}
