/**
 * Solar system
 */

.system__universe {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: cover;
}

.system__galaxy {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 4000px;
}

.system__solar-system {
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}

.system__orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  animation-name: orbit;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transform-style: preserve-3d;

  .system__orbit {
    animation-name: suborbit;
  }
}

.pos {
  position: absolute;
  top: 50%;
  margin-top: -1em;
  margin-left: -1em;
  width: 2em;
  height: 2em;
  animation-name: invert;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transform-style: preserve-3d;
}

.system__sun,
.system__planet,
.system__earth .system__moon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;

  transform-style: preserve-3d;
}

.system__sun {
  background-color: #fb7209;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 60px rgba(255, 160, 60, .4);
}

.system__planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.planet__ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.system__saturn {
  .planet__ring {
    margin-top: -1em;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border: .3em solid rgba(160, 147, 130, .7);
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &::after {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1.1em;
      margin-left: -1.1em;
      width: 2.2em;
      height: 2.2em;
      content: '';
      border: .07em solid rgba(160, 147, 130, .5);
      border-radius: 50%;
    }
  }
}

/* --------------------------------------------------------------------------- planets index */

.system__mercury {
  z-index: 10;
}

.system__venus {
  z-index: 9;
}

.system__earth {
  z-index: 8;
}

.system__moon {
  z-index: 7;
}

.system__mars {
  z-index: 6;
}

.system__jupiter {
  z-index: 5;
}

.system__saturn {
  z-index: 4;
}

.system__uranus {
  z-index: 3;
}

.system__neptune {
  z-index: 2;
}

.system__sun {
  z-index: 1;
}

/* --------------------------------------------------------------------------- animations */

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

/* --------------------------------------------------------------------------- opening */

.view--3d {
  &.zoom--large {
    .system__sun {
      transform-style: preserve-3d;
    }

    .system__orbit {
      transform-style: preserve-3d;
    }
  }

  .system__solar-system {
    transform: rotateX(75deg);
  }

  .system__sun {
    transform: rotateX(-90deg);
  }

  .planet__ring {
    transform: rotateX(90deg);
  }

  .system__planet,
  .system__moon {
    transform: rotateX(0deg);
  }

  .opening {
    .system__sun,
    .system__orbit,
    .pos,
    .system__planet,
    .satelite,
    .planet__ring {
      transition-duration: 4s;
    }
  }
}

.system__universe.opening .system__sun {
  box-shadow: 0 0 0 rgba(255, 160, 60, 0);
}

/* --------------------------------------------------------------------------- 2D view */

.view--2d {
  &.zoom--large {
    .system__sun {
      transform-style: flat;
    }

    .system__orbit {
      transform-style: flat;
    }
  }

  .system__sun,
  .planet__ring {
    transform: rotateX(0deg);
  }

  .system__planet,
  .system__moon {
    transform: rotateX(90deg);
  }
}

/* --------------------------------------------------------------------------- large zoom */

.zoom--large {
  .system__solar-system {
    width: 100%;
  }

  &.view--2d {
    .scale--stretched .system__solar-system {
      font-size: 26%;
    }

    .scale--d .system__solar-system {
      font-size: 22%;
    }

    .scale--s .system__solar-system {
      font-size: 7%;
    }
  }

  &.view--3d {
    .scale--stretched .system__solar-system {
      font-size: 62%;
    }

    .scale--d .system__solar-system {
      font-size: 48%;
    }

    .scale--s .system__solar-system {
      font-size: 14%;
    }
  }
}

/* --------------------------------------------------------------------------- close zoom */

.zoom--close {
  .system__solar-system {
    width: 200%;
    font-size: 100%;
  }

  .scale--stretched .system__solar-system {
    margin-left: -100%;
  }

  .scale--d .system__solar-system {
    margin-left: -106%;
  }

  &.view--2d {
    .scale--d .system__solar-system {
      font-size: 84%;
    }

    .scale--s .system__solar-system {
      font-size: 40%;
    }
  }

  &.view--3d {
    .scale--d .system__solar-system {
      font-size: 84%;
    }

    .scale--s .system__solar-system {
      font-size: 40%;
    }
  }

  .scale--s .system__solar-system {
    margin-left: -145%;
  }

  .system__orbit,
  .pos,
  .system__planet,
  .satelite,
  .planet__ring {
    animation: none !important;
    animation-duration: 0s !important;
    animation-play-state: paused !important;
  }

  &.view--2d .system__planet,
  &.view--2d .system__moon {
    transform: rotateX(0deg);
  }

  &.view--3d .system__planet {
    transform: rotateX(-90deg);
  }

  &.view--3d .system__moon {
    transform: rotateX(90deg);
  }

  .pos {
    top: 50% !important;
    left: 100% !important;
  }
}

/* --------------------------------------------------------------------------- speed */

/* sideral years */
.system__mercury {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 2.89016s;
  }
}

.system__venus {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 7.38237s;
  }
}

.system__earth {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 12.00021s;
  }

  .system__orbit .pos,
  .system__orbit {
    animation-duration: .89764s;
  }
}

.system__mars {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 22.57017s;
  }
}

.system__jupiter {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 142.35138s;
  }
}

.system__saturn {
  .pos,
  .system__planet,
  .planet__ring,
  &.system__orbit {
    animation-duration: 353.36998s;
  }
}

.system__uranus {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 1008.20215s;
  }
}

.system__neptune {
  .pos,
  .system__planet,
  &.system__orbit {
    animation-duration: 1977.49584s;
  }
}

/* --------------------------------------------------------------------------- planets sizes */

/* --------------------------------------------------------------------------- stretched sizes */

.scale--stretched {
  .system__sun {
    font-size: 24em;
  }

  .system__mercury .system__planet {
    font-size: 1.5em;
  }

  .system__venus .system__planet {
    font-size: 3.72em;
  }

  .system__earth {
    .system__planet {
      font-size: 3.92em;
    }

    .system__moon {
      font-size: 1.2em;
    }
  }

  .system__mars .system__planet {
    font-size: 2.9em;
  }

  .system__jupiter .system__planet {
    font-size: 12em;
  }

  .system__saturn .system__planet {
    font-size: 10.8em;
  }

  .system__uranus .system__planet {
    font-size: 4.68em;
  }

  .system__neptune .system__planet {
    font-size: 4.9em;
  }
}

/* --------------------------------------------------------------------------- scaled sizes */

/*
(planets radius * 2) * ratio
*/

/*$distanceScaleRatio:   0.000075em;*/

/* --------------------------------------------------------------------------- planets distance scale sizes */

.scale--m {
  .system__sun {
    font-size: 41.73048em;
  }

  .system__mercury .system__planet {
    font-size: .14634em;
  }

  .system__venus .system__planet {
    font-size: .36306em;
  }

  .system__earth {
    .system__planet {
      font-size: .38226em;
    }

    .system__moon {
      font-size: .08226em;
    }
  }

  .system__mars .system__planet {
    font-size: .20334em;
  }

  .system__jupiter .system__planet {
    font-size: 4.19466em;
  }

  .system__saturn .system__planet {
    font-size: 3.49392em;
  }

  .system__uranus .system__planet {
    font-size: 1.52172em;
  }

  .system__neptune .system__planet {
    font-size: 1.47732em;
  }
}

.scale--d {
  .system__sun {
    font-size: 41.73048em;
  }

  .system__mercury .system__planet {
    font-size: .14634em;
  }

  .system__venus .system__planet {
    font-size: .36306em;
  }

  .system__earth {
    .system__planet {
      font-size: .38226em;
    }

    .system__moon {
      font-size: .08226em;
    }
  }

  .system__mars .system__planet {
    font-size: .20334em;
  }

  .system__jupiter .system__planet {
    font-size: 4.19466em;
  }

  .system__saturn .system__planet {
    font-size: 3.49392em;
  }

  .system__uranus .system__planet {
    font-size: 1.52172em;
  }

  .system__neptune .system__planet {
    font-size: 1.47732em;
  }
}

/* --------------------------------------------------------------------------- planet size scale sizes */

.scale--s {
  .system__sun {
    font-size: 417.3048em;
  }

  .system__mercury .system__planet {
    font-size: 1.4634em;
  }

  .system__venus .system__planet {
    font-size: 3.6306em;
  }

  .system__earth {
    .system__planet {
      font-size: 3.8226em;
    }

    .system__moon {
      font-size: .8226em;
    }
  }

  .system__mars .system__planet {
    font-size: 2.0334em;
  }

  .system__jupiter .system__planet {
    font-size: 41.9466em;
  }

  .system__saturn .system__planet {
    font-size: 34.9392em;
  }

  .system__uranus .system__planet {
    font-size: 15.2172em;
  }

  .system__neptune .system__planet {
    font-size: 14.7732em;
  }
}

/* --------------------------------------------------------------------------- stretched orbits */

.scale--stretched {
  .system__mercury.system__orbit {
    margin-top: -16em;
    margin-left: -16em;
    width: 32em;
    height: 32em;
  }

  .system__venus.system__orbit {
    margin-top: -20em;
    margin-left: -20em;
    width: 40em;
    height: 40em;
  }

  .system__earth {
    &.system__orbit {
      margin-top: -28em;
      margin-left: -28em;
      width: 56em;
      height: 56em;
    }

    .system__orbit {
      margin-top: -3em;
      margin-left: -3em;
      width: 6em;
      height: 6em;
    }
  }

  .system__mars.system__orbit {
    margin-top: -36em;
    margin-left: -36em;
    width: 72em;
    height: 72em;
  }

  .system__jupiter.system__orbit {
    margin-top: -50em;
    margin-left: -50em;
    width: 100em;
    height: 100em;
  }

  .system__saturn.system__orbit {
    margin-top: -75em;
    margin-left: -75em;
    width: 150em;
    height: 150em;
  }

  .system__uranus.system__orbit {
    margin-top: -93em;
    margin-left: -93em;
    width: 186em;
    height: 186em;
  }

  .system__neptune.system__orbit {
    margin-top: -105em;
    margin-left: -105em;
    width: 210em;
    height: 210em;
  }
}

/* --------------------------------------------------------------------------- scaled orbits */

/* --------------------------------------------------------------------------- distance scale orbits */

.scale--d {
  .system__mercury.system__orbit {
    margin-top: -22.37088em;
    margin-left: -22.37088em;
    width: 44.74176em;
    height: 44.74176em;
  }

  .system__venus.system__orbit {
    margin-top: -23.67869em;
    margin-left: -23.67869em;
    width: 47.35737em;
    height: 47.35737em;
  }

  .system__earth.system__orbit {
    margin-top: -24.75479em;
    margin-left: -24.75479em;
    width: 49.50959em;
    height: 49.50959em;
  }

  .system__mars.system__orbit {
    margin-top: -26.79178em;
    margin-left: -26.79178em;
    width: 53.58356em;
    height: 53.58356em;
  }

  .system__jupiter.system__orbit {
    margin-top: -41.1021em;
    margin-left: -41.1021em;
    width: 82.2042em;
    height: 82.2042em;
  }

  .system__saturn.system__orbit {
    margin-top: -57.95857em;
    margin-left: -57.95857em;
    width: 115.91713em;
    height: 115.91713em;
  }

  .system__uranus.system__orbit {
    margin-top: -95.50235em;
    margin-left: -95.50235em;
    width: 191.00471em;
    height: 191.00471em;
  }

  .system__neptune.system__orbit {
    margin-top: -137.82355em;
    margin-left: -137.82355em;
    width: 275.64709em;
    height: 275.64709em;
  }

  /* Moon */
  .system__earth .system__orbit {
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
  }
}

/* --------------------------------------------------------------------------- size scale orbits */

.scale--s {
  .system__mercury.system__orbit {
    margin-top: -220.6524em;
    margin-left: -220.6524em;
    width: 441.3048em;
    height: 441.3048em;
  }

  .system__venus.system__orbit {
    margin-top: -228.6524em;
    margin-left: -228.6524em;
    width: 457.3048em;
    height: 457.3048em;
  }

  .system__earth.system__orbit {
    margin-top: -236.6524em;
    margin-left: -236.6524em;
    width: 473.3048em;
    height: 473.3048em;
  }

  .system__mars.system__orbit {
    margin-top: -244.6524em;
    margin-left: -244.6524em;
    width: 489.3048em;
    height: 489.3048em;
  }

  .system__jupiter.system__orbit {
    margin-top: -280.6524em;
    margin-left: -280.6524em;
    width: 561.3048em;
    height: 561.3048em;
  }

  .system__saturn.system__orbit {
    margin-top: -352.6524em;
    margin-left: -352.6524em;
    width: 705.3048em;
    height: 705.3048em;
  }

  .system__uranus.system__orbit {
    margin-top: -408.6524em;
    margin-left: -408.6524em;
    width: 817.3048em;
    height: 817.3048em;
  }

  .system__neptune.system__orbit {
    margin-top: -440.6524em;
    margin-left: -440.6524em;
    width: 881.3048em;
    height: 881.3048em;
  }

  /* Moon */
  .system__earth .system__orbit {
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
  }
}

/* --------------------------------------------------------------------------- planets starting position and lighting effect */

/* --------------------------------------------------------------------------- mercury ; pos: Top */

.system__mercury {
  .pos {
    top: -1%;
    left: 50%;
  }

  .system__planet {
    animation-name: shadow-mercury;
  }
}

@keyframes shadow-mercury {
  0% {
    /* Top */
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  }

  25% {
    /* Left */
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
  }

  50% {
    /* Bottom */
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, .5);
  }

  50.01% {
    /* Bottom */
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, .5);
  }

  75% {
    /* Right */
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  }

  100% {
    /* Top */
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__mercury .system__planet,
.scaled.view--3d .system__mercury .system__planet {
  /* Right */
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- venus ; pos: Left */

.system__venus {
  .pos {
    top: 50%;
    left: 0;
  }

  .system__planet {
    animation-name: shadow-venus;
  }
}

@keyframes shadow-venus {
  0% {
    /* Left */
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
  }

  25% {
    /* Bottom */
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, .5);
  }

  25.5% {
    /* Bottom */
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, .5);
  }

  50% {
    /* Right */
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  }

  75% {
    /* Top */
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  }

  100% {
    /* Left */
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__venus .system__planet,
.scaled.view--3d .system__venus .system__planet {
  /* Right */
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- earth ; pos: Right */

.system__earth {
  .pos {
    top: 50%;
    left: 100%;
  }

  .system__orbit {
    .pos {
      top: 50%;
      left: 100%;
    }
  }

  .system__planet {
    animation-name: shadow-earth;
  }
}

@keyframes shadow-earth {
  0% {
    /* Right */
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  }

  25% {
    /* Top */
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
  }

  50% {
    /* Left */
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
  }

  75% {
    /* Bottom */
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, .5);
  }

  75.01% {
    /* Bottom */
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, .5);
  }

  100% {
    /* Right */
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__earth .system__planet,
.scaled.view--3d .system__earth .system__planet {
  /* Right */
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- mars ; pos: Bottom */

.system__mars {
  .pos {
    top: 100%;
    left: 50%;
  }

  .system__planet {
    animation-name: shadow-mars;
  }
}

@keyframes shadow-mars {
  0% {
    /* Bottom */
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, .5);
  }

  25% {
    /* Right */
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
  }

  50% {
    /* Top */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  }

  75% {
    /* Left */
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, .5);
  }

  99.99% {
    /* Bottom */
    box-shadow: inset 18px -10px 10px rgba(0, 0, 0, .5);
  }

  100% {
    /* Bottom */
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__mars .system__planet,
.scaled.view--3d .system__mars .system__planet {
  /* Right */
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- jupiter ; pos: Right */

.system__jupiter {
  .pos {
    top: 50%;
    left: 100%;
  }

  .system__planet {
    animation-name: shadow-jupiter;
  }
}

@keyframes shadow-jupiter {
  0% {
    /* Right */
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
  }

  25% {
    /* Top */
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, .5);
  }

  50% {
    /* Left */
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, .5);
  }

  75% {
    /* Bottom */
    box-shadow: inset 94px -30px 40px rgba(0, 0, 0, .5);
  }

  75.01% {
    /* Bottom */
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, .5);
  }

  100% {
    /* Right */
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__jupiter .system__planet,
.scaled.view--3d .system__jupiter .system__planet {
  /* Right */
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- saturn ; pos: Left */

.system__saturn {
  .pos {
    top: 50%;
    left: 0;
  }

  .system__planet {
    animation-name: shadow-saturn;
  }
}

@keyframes shadow-saturn {
  0% {
    /* Left */
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, .5);
  }

  25% {
    /* Bottom */
    box-shadow: inset 80px -30px 50px rgba(0, 0, 0, .5);
  }

  25.01% {
    /* Bottom */
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, .5);
  }

  50% {
    /* Right */
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
  }

  75% {
    /* Top */
    box-shadow: inset -2px 3px 2px rgba(0, 0, 0, .5);
  }

  100% {
    /* Left */
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__saturn .system__planet,
.scaled.view--3d .system__saturn .system__planet {
  /* Right */
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- saturn ring */

.system__saturn {
  .planet__ring {
    animation-name: shadow-saturn-ring;
  }
}

@keyframes
 shadow-saturn-ring {
  0% {
    box-shadow: inset -16px 0 4px rgba(20, 40, 50, .45);
    opacity: .4;
  }

  25% {
    box-shadow: inset -5px -30px 12px rgba(20, 40, 50, .3);
    opacity: 1;
  }

  25.01% {
    box-shadow: inset 5px -30px 12px rgba(20, 40, 50, .3);
    opacity: 1;
  }

  50% {
    box-shadow: inset 16px 0 4px rgba(20, 40, 50, .45);
    opacity: .4;
  }

  75% {
    box-shadow: inset 0 30px 50px rgba(20, 40, 50, 0);
    opacity: .3;
  }

  100% {
    box-shadow: inset -16px 0 4px rgba(20, 40, 50, .45);
    opacity: .4;
  }
}

.scaled.view--2d .system__saturn .planet__ring,
.scaled.view--3d .system__saturn .planet__ring {
  box-shadow: inset 16px 0 4px rgba(20, 40, 50, .6);
}

/* --------------------------------------------------------------------------- uranus ; pos: Left */

.system__uranus {
  .pos {
    top: 50%;
    left: 0;
  }

  .system__planet {
    animation-name: shadow-uranus;
  }
}

@keyframes shadow-uranus {
  0% {
    /* Left */
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, .5);
  }

  25% {
    /* Bottom */
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, .5);
  }

  25.01% {
    /* Bottom */
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, .5);
  }

  50% {
    /* Right */
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, .5);
  }

  75% {
    /* Top */
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  }

  100% {
    /* Left */
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__uranus .system__planet,
.scaled.view--3d .system__uranus .system__planet {
  /* Right */
  box-shadow: inset -8px 0 5px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- neptune ; pos: Top */

.system__neptune {
  .pos {
    top: 0;
    left: 50%;
  }

  .system__planet {
    animation-name: shadow-neptune;
  }
}

@keyframes shadow-neptune {
  0% {
    /* Top */
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  }

  25% {
    /* Left */
    box-shadow: inset 12px 0 5px rgba(0, 0, 0, .5);
  }

  50% {
    /* Bottom */
    box-shadow: inset 50px -15px 40px rgba(0, 0, 0, .5);
  }

  50.01% {
    /* Bottom */
    box-shadow: inset -50px -15px 40px rgba(0, 0, 0, .5);
  }

  75% {
    /* Right */
    box-shadow: inset -12px 0 5px rgba(0, 0, 0, .5);
  }

  100% {
    /* Top */
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  }
}

.scaled.view--2d .system__neptune .system__planet,
.scaled.view--3d .system__neptune .system__planet {
  /* Right */
  box-shadow: inset -12px 0 5px rgba(0, 0, 0, .5);
}

/* --------------------------------------------------------------------------- DEBUG */
/* .pos,
.system__planet,
.system__orbit,
.planet__ring {
  animation-duration: 20s !important;
} */

/* --------------------------------------------------------------------------- navigation styles */

.sun .system__sun .planet__info,
.mercury .system__mercury .planet__info,
.venus .system__venus .planet__info,
.earth .system__earth .planet__info,
.mars .system__mars .planet__info,
.jupiter .system__jupiter .planet__info,
.saturn .system__saturn .planet__info,
.uranus .system__uranus .planet__info,
.neptune .system__neptune .planet__info {
  opacity: 1;
  transform: rotateX(0deg);
}

.opening .system__solar-system .planet__info {
  display: none;
}

.mercury .system__mercury.system__orbit,
.venus .system__venus.system__orbit,
.earth .system__earth.system__orbit,
.mars .system__mars.system__orbit,
.jupiter .system__jupiter.system__orbit,
.saturn .system__saturn.system__orbit,
.uranus .system__uranus.system__orbit,
.neptune .system__neptune.system__orbit {
  border: 1px solid rgba(255, 255, 255, .8);
}

/* --------------------------------------------------------------------------- transitions */

.pos {
  transition-property: top, left;
}

.system__solar-system,
.system__orbit,
.system__planet,
.satelite,
.planet__ring {
  transition-property: width, height, top, left, margin-left, margin-top, webkit-transform;
}

.system__sun {
  transition-property: width, height, webkit-transform;
}

.system__solar-system,
.system__sun,
.system__orbit,
.pos,
.system__planet,
.satelite,
.planet__ring {
  transition-timing-function: ease-in-out;
  transition-duration: .8s;
}

.system__solar-system,
.system__sun,
.system__planet,
.satelite,
.planet__ring {
  transition-delay: 0s;
}

.pos {
  transition-delay: 1s;
}

.opening {
  .system__solar-system,
  .system__sun,
  .system__orbit,
  .pos,
  .system__planet,
  .satelite,
  .planet__ring,
  .planet__info {
    transition-delay: 0s;
    transition-duration: 0s;
  }

  .pos {
    transition-delay: 0s;
  }
}

/* --------------------------------------------------------------------------- images */

.page--solar-system:not(.page--ai) {
  background-image: url(../images/experiments/solar-system/bcg-body-space.png);
}

.system__universe {
  background-image: url(../images/experiments/solar-system/bcg-universe.png);

  @media (max-width: 299px) {
    font-size: 20%;
  }

  @media (min-width: 300px) {
    font-size: 24%;
  }

  @media (min-width: 500px) {
    font-size: 36%;
  }

  @media (min-width: 600px) {
    font-size: 44%;
  }

  @media (min-width: 760px) {
    font-size: 58%;
  }

  @media (min-width: 1000px) {
    font-size: 73%;
  }

  // @media (min-width: 1300px) {
  //   font-size: 100%;
  // }
}

.system__sun {
  background-image: url(../images/experiments/solar-system/planet-sun.png);
}

.system__mercury .system__planet {
  background-image: url(../images/experiments/solar-system/planet-mercury.png);
}

.system__venus .system__planet {
  background-image: url(../images/experiments/solar-system/planet-venus.png);
}

.system__earth .system__planet {
  background-image: url(../images/experiments/solar-system/planet-earth.png);
}

.system__earth .system__moon {
  background-color: white;
}

.system__mars .system__planet {
  background-image: url(../images/experiments/solar-system/planet-mars.png);
}

.system__jupiter .system__planet {
  background-image: url(../images/experiments/solar-system/planet-saturn.png);
}

.system__saturn .system__planet {
  background-image: url(../images/experiments/solar-system/planet-saturn.png);
}

.system__uranus .system__planet {
  background-image: url(../images/experiments/solar-system/planet-uranus.png);
}

.system__neptune .system__planet {
  background-image: url(../images/experiments/solar-system/planet-neptune.png);
}

/* --------------------------------------------------------------------------- responsive styles */

@media screen and (min-width: 1600px) {
  .zoom--close .scale--d .system__solar-system {
    margin-left: -120%;
  }
}
