/**
 * Work page
 */

@keyframes popup {
  0% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }

  25% {
    transform: scale3d(1.1, 0.9, 1) translateZ(0);
  }

  50% {
    transform: scale3d(0.95, 1.05, 1) translateZ(0);
  }

  75% {
    transform: scale3d(1.02, 0.98, 1) translateZ(0);
  }

  100% {
    transform: scale3d(1, 1, 1) translateZ(0);
  }
}

.page--portfolio {
  .sec__main {
    min-height: 0;
    height: 110px;
  }
}

main {
  .sec__works {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.sec__works {
  .container-fluid {
    max-width: 1440px;
  }

  [class*='col-'] {
    padding: 28px;

    @media (min-width: 1200px) {
      padding: 32px;
    }
  }
}

.work__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 4px;

  @media (max-width: 767px) {
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) {
    padding-bottom: 50px;
    flex-direction: row;
  }

  &:nth-last-of-type(n+3) {
    padding-top: 4px;

    @media (min-width: 768px) {
      padding-top: 50px;
    }
  }

  &:nth-of-type(2n+2) {
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
}

.work__description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    &:first-of-type {
      text-align: right;
    }
  }
}

.work__thumbnail {
  @media (min-width: 768px) {
    &:first-of-type {
      img {
        margin-left: auto;
      }
    }
  }

  img {
    width: 100%;
    max-width: 480px;
    transform: scale(.3) translateZ(0);
    transition: transform .6s cubic-bezier(.58, .3, .005, 1);

    &[data-emergence=visible] { // sass-lint:disable-line no-qualifying-elements
      transform: scale(.9) translateZ(0);
      animation: popup .6s both cubic-bezier(0.580, 0.300, 0.005, 1.000);
    }

    img:not([src]) {
      visibility: hidden;
    }
  }

  .img-loading {
    margin: auto;
    max-width: 42px;
  }
}

.work__item {
  position: relative;
  display: block;
  //overflow: hidden;

  &:focus > div + img,
  &:hover > div + img,
  &:focus > div + img + noscript > img,
  &:hover > div + img + noscript > img {
    transform: scale(1.05);

    @media (min-width: 768px) {
      transform: scale(1.1);
    }

    @media (min-width: 992px) {
      transform: scale(1.15);
    }
  }
}

.overlay--thumbnail {
  background-size: 70%;
}

.works__thumbnail {
  transform-style: preserve-3d;

  @include transition(transform);
}

.thumbnail__info {
  display: none;
  padding-top: 16px;
  padding-left: 16px;
  color: #fff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @include vertical-align(absolute);

  h3 {
    font-weight: 600;
  }

  h4 {
    font-weight: 400;
  }
}
