/**
 * Heroes
 */
.hero {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.hero--big {
  min-height: 45rem;
  height: 100%;
}
.hero--small {
  min-height: 23.75rem;
  @media screen and (max-width: rem(768px)) {min-height: 27rem;}
}
.hero__content {
  @extend .vertical-align;
  position: absolute;
  padding-top: 4rem;
  width: 100%;
  color: #fff;
}
.hero--about {background-image: url(../images/hero--about--mobile.jpg);}
.hero--main {background-image: url(../images/face-dark--mobile.jpg);}
.hero--process {background-image: url(../images/hero--process--mobile.jpg);}
.hero--terms {background-image: url(../images/hero--terms--mobile.jpg);}
.hero--work {background-image: url(../images/hero--work--mobile.jpg);}
.hero--contact {background-image: url(../images/hero--contact--mobile.jpg);}
@media screen and (min-width: rem(480px)) {
  .hero--about {background-image: url(../images/hero--about--tablet.jpg);}
  .hero--main {background-image: url(../images/face-dark--tablet.jpg);}
  .hero--process {background-image: url(../images/hero--process--tablet.jpg);}
  .hero--terms {background-image: url(../images/hero--terms--tablet.jpg);}
  .hero--work {background-image: url(../images/hero--work--tablet.jpg);}
.hero--contact {background-image: url(../images/hero--contact--tablet.jpg);}
}
@media screen and (min-width: rem(768px)) {
  .hero--about {background-image: url(../images/hero--about--desktop.jpg);}
  .hero--main {background-image: url(../images/face-dark--desktop.jpg);}
  .hero--process {background-image: url(../images/hero--process--desktop.jpg);}
  .hero--terms {background-image: url(../images/hero--terms--desktop.jpg);}
  .hero--work {background-image: url(../images/hero--work--desktop.jpg);}
.hero--contact {background-image: url(../images/hero--contact--desktop.jpg);}
}
@media screen and (min-width: rem(992px)) {
  .hero--about {background-image: url(../images/hero--about--large.jpg);}
  .hero--main {background-image: url(../images/face-dark--large.jpg);}
  .hero--process {background-image: url(../images/hero--process--large.jpg);}
  .hero--terms {background-image: url(../images/hero--terms--large.jpg);}
  .hero--work {background-image: url(../images/hero--work--large.jpg);}
.hero--contact {background-image: url(../images/hero--contact--large.jpg);}
}
@media screen and (min-width: rem(1400px)) {
  .hero--about {background-image: url(../images/hero--about--xlarge.jpg);}
  .hero--main {background-image: url(../images/face-dark--xlarge.jpg);}
  .hero--process {background-image: url(../images/hero--process--xlarge.jpg);}
  .hero--terms {background-image: url(../images/hero--terms--xlarge.jpg);}
  .hero--work {background-image: url(../images/hero--work--xlarge.jpg);}
.hero--contact {background-image: url(../images/hero--contact--xlarge.jpg);}
}
