/**
 * Inserts
 */
.insert {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.insert--cta {background-color: #1b1b1b;}
.insert--cta p {
  margin-bottom: 0;
  max-width: inherit;
  color: #fff;
}
.insert--logos .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.insert__logo {
  max-width: rem(150px);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.insert--logos__container:last-of-type .insert__logo {max-width: rem(120px);}
.footer__links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.insert--map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: rem(480px);
  background-color: #e5e3df;
  transform: translateZ(0px);
}
