///
// Px to rem
///
@function rem($target) {
  @return ($target / 16px) * 1rem;
}
///
// Color grabber
///
@function palette($color, $shade: 500) {
  $colorMap: map-get($palette, $color);
  $result: map-get($colorMap, $shade);
  @return $result;
}