/**
 * Footer
 */

footer {
  position: relative;
  z-index: 2;
  padding-bottom: 2rem;
}

footer a {
  color: #818181;

  &:focus,
  &:hover {
    color: $color--gold;
  }
}

.footer__media {
  text-align: center;/* No flexbox fallback to center social media list*/
}
