/**
 * Footer
 */
footer {
  //padding-top: 2rem;
  background-color: #fff;/*#1b1b1b, #262626*/
}
/*
.footer__main {
  padding-bottom: 1.5rem;
}*/
/*
.footer__main p {
  color: #818181;
}*/
footer a {
  color: #818181;
  &:focus,
  &:hover {
    color: $color--gold;
  }
}
//.footer__media {
  //padding-bottom: 1rem;
//}
.footer__copy {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: 100%;
  //background-color: #111;/*#1b1b1b*/
}
.footer__copy p {
  margin-bottom: 0;
  color: #818181;
}
