/**
 * Header
 */

header {
  padding-top: remy(32px);
  padding-bottom: remy(32px);
  width: 100%;

  a {
    font-weight: 700;
    text-transform: uppercase;
    color: map-get($palette-custom, black);

    &:focus,
    &:hover {
      color: map-get($palette-custom, red);
    }

    &.active {
      color: map-get($palette-custom, red);

      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }

  .logo {
    float: left;
    margin: 0;
    font-family: 'Devero', arial, sans-serif;
    font-size: remy(28px);
    font-weight: 200;
    color: #fff;
    line-height: 1.35;

    a {
      &:focus,
      &:hover {
        color: map-get($palette-custom, black);
      }
    }
  }
}
