/**
 * Header
 */

header {
  position: absolute;
  top: 0;
  z-index: 99;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

header a {
  color: #212121;

  &:focus,
  &:hover {
    color: $color--red-alt;
  }

  &.active {
    color: $color--red-alt;

    &:focus,
    &:hover {
      color: $color--red-alt;
    }
  }
}

header .logo {
  float: left;
  margin: 0;
  font-family: "Devero", arial, sans-serif;
  font-size: 1.7rem;
  //font-size: 1.25rem;
  font-weight: 200;
  color: #fff;
  line-height: 1;
  //line-height: 1.2;
}

header .logo a {
  //letter-spacing: .65rem;

  &:focus,
  &:hover {
    color: #212121;
  }
}
