/**
 * About page
 */

.page--about {
  main {
    position: relative;
  }

  .sec__about {
    margin-bottom: remy(-61px);

    .container {
      position: relative;
      z-index: 2;
      color: map-get($palette-custom, black);
    }
  }

  p {
    font-size: remy(18px);
  }

  .btn {
    margin-top: remy(24px);
    margin-bottom: remy(48px);
  }
}
