/**
 * About page
 */

.page--about {
  main {
    position: relative;
  }

  .sec__about {
    .container {
      position: relative;
      z-index: 2;
      color: map-get($palette-custom, black);
    }
  }
}
