/**
 * About page
 */

.page--about .sec__about {
  //padding-top: 8.5rem;
  margin-bottom: remy(-69px);
  height: 100%;
  min-height: remy(920px);
  background-color: #fff;

  @media screen and (min-width: 326px) {
    min-height: remy(790px);
  }

  @media screen and (min-width: 400px) {
    min-height: remy(660px);
  }

  @media screen and (min-width: 768px) {
    min-height: remy(595px);
  }
}

.page--about .sec__about {
  //@extend .vertical-align;
}

.page--about .sec__about .container {
  position: relative;
  z-index: 2;

  @extend .vertical-align;
}

.page--about .about__photo {
  max-width: remy(150px);
  border-radius: 50%;
}

.page--about .heading--primary {
  text-transform: inherit;
}

.page--about p {
  font-size: remy(18px);
}

.about-clients h3 {
  margin-bottom: 1.5rem;
}

.about-clients .row:first-of-type {
  margin-bottom: 1rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.about-clients [class^="col-"]:not(:last-of-type) {
  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.about-clients .logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  max-height: remy(50px);
  filter: grayscale(100%);

  @include transition(all);

  &:focus,
  &:hover {
    filter: grayscale(0);
  }
}

.about-clients .logo--codementor {
  margin-top: .65rem;
}
