/**
 * Contact Page
 */

.page--contact {
  .sec__main {
    position: relative;
    min-height: remy(800px);

    @media screen and (min-width: 768px) {
      margin-bottom: remy(-61px);
      height: 100%;
    }
  }

  .about__contact {
    @media screen and (max-width: 767px) {
      margin-top: remy(32px);
      margin-bottom: remy(32px);
    }

    @media screen and (min-width: 768px) and (min-height: 745px) {
      right: 0;
      left: 0;

      @include vertical-align(absolute);
    }
  }

  h1 {
    font-weight: 700;
    text-transform: inherit;
  }

  p {
    font-size: remy(18px);
  }

  footer {
    a {
      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }
}
