/**
 * Contact Page
 */

.page--contact {
  .sec__main {
    margin-bottom: remy(-61px);
    min-height: remy(980px);
    height: 100%;
  }

  .about__contact {
    @extend .vertical-align;
  }

  h1 {
    font-weight: 700;
    text-transform: inherit;
  }

  p {
    font-size: remy(18px);
  }

  footer a {

    &:focus,
    &:hover {
      color: $color--red;
    }
  }
}
