/**
 * Contact Page
 */

.page--contact {
  .sec__main {
    position: relative;
    min-height: remy(780px);

    @media screen and (min-width: 768px) {
      margin-bottom: remy(-63px);
      height: 100%;
    }
  }

  .about__contact {
    @media screen and (max-width: 767px) {
      margin-bottom: remy(32px);
    }

    @media screen and (max-height: 744px) {
      margin-top: remy(32px);
    }

    @media screen and (min-width: 768px) and (min-height: 800px) {
      right: 0;
      left: 0;

      @include vertical-align(absolute);
    }
  }

  h1 {
    font-weight: 700;
    text-transform: inherit;
  }

  p {
    font-size: remy(18px);
  }

  footer {
    @media screen and (max-height: 744px) {
      margin-top: remy(32px);
    }
  }
}
