/**
 * Faq page
 */

.page--faq {
  .heading--primary {
    font-weight: 700;
    text-transform: inherit;
  }

  h2 {
    font-weight: 600;
  }

  p {
    font-size: remy(18px);
  }

  .btn {
    margin-top: remy(24px);
  }
}
