/**
 * Home page
 */

.page--home {
  main {
    position: relative;
  }

  .sec__main {
    position: relative;
    margin-bottom: -107px;

    @media (min-width: 461px) {
      margin-bottom: -63px;
    }

    @media (max-width: 505px) {
      overflow-x: hidden;
    }
  }

  .hero--big {
    min-height: 606px;

    @media screen and (min-width: 460px) {
      min-height: 480px;
    }
  }

  header {
    position: absolute;
    top: 0;
    z-index: 99;

    a,
    .navbar-toggler {
      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }

  footer {
    width: 100%;
    background-color: transparent;

    a {
      color: map-get($palette-custom, black);

      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }

  .footer__media {
    padding-bottom: 0;
  }
}

.home__intro {
  z-index: 3;
  padding: 0 18px;
  color: map-get($palette-custom, black);
  text-align: center;

  @include vertical-align;

  h1,
  h2,
  h3 {
    color: map-get($palette-custom, red);
  }

  h2,
  h3 {
    margin-top: 0;
    color: #708090;

    span {
      padding-top: 4px;
      padding-right: 15px;
      padding-bottom: 4px;
      padding-left: 15px;
    }
  }

  // .heading-devero {
  //   font-family: 'Devero', arial, sans-serif;
  //   font-size: 64px;
  //   font-weight: 600;
  //   line-height: 1.4;
  //
  //   @media screen and (min-width: 390px) {
  //     font-size: 96px;
  //   }
  //
  //   @media screen and (min-width: 768px) {
  //     font-size: 112px;
  //   }
  // }

  h1 {
    margin-bottom: 32px;
    font-family: 'True lies';
    font-size: 38px;
    font-weight: 400;
    line-height: 1.4;

    @media screen and (min-width: 481px) {
      font-size: 48px;
    }

    @media screen and (min-width: 581px) {
      font-size: 58px;
    }

    br {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 32px;
    font-size: 26px;
    // color: map-get($palette-custom, black);

    @media screen and (min-width: 481px) {
      font-size: 28px;
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: 24px;
  }
}
