/**
 * Home page
 */

.page--home main {
  position: relative;
}

.page--home .sec__main {
  margin-bottom: remy(-63px);
}

.page--home .hero--big {
  min-height: remy(460px);
  /*@media screen and (min-width: 550px), screen and (min-height: 810px) {
    min-height: 100%;
  }*/
}

.home__intro {
  color: #212121;
  text-align: center;

  @extend .vertical-align;
}

.home__intro .about__photo {
  max-width: 150px;
  border-radius: 50%;
}

.home__intro h2 span,
.home__intro h3 span,
.home__intro h4 span {
  padding-top: .25rem;
  padding-right: .95rem;
  padding-bottom: .25rem;
  padding-left: .95rem;
  background: rgba(255,255,255,.95);
}

.home__intro h1 {
  margin-top: 0;
  line-height: 1.1;

  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }

  @media screen and (max-width: 555px) {
    font-size: 6rem;
  }
}

.home__intro h2 {
  margin-top: 0;
  color: #212121;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 555px) {
    font-size: 1.25rem;
  }
}

.home__intro h3 {
  margin-top: 0;
  @media screen and (max-width: 768px) {
    font-size: 1.15rem;
  }

  @media screen and (max-width: 555px) {
    font-size: 1rem;
  }
}

.home__intro h4 {
  margin-top: 0;
}

.list-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  li {
    float: left;
    font-size: 1.25rem;
  }

  li:nth-of-type(n+2) {
    margin-left: 1rem;
  }
}

.index-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .35;
}

.page--home footer {
  padding-bottom: 0;
  width: 100%;
  height: remy(63px);
  background-color: transparent;
}

.page--home .footer__copy {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.page--home .footer__media {
  padding-bottom: 0;
}
