/**
 * Homepage
 */
section[class*="part_"] {
  padding-top: 0;
  padding-bottom: 0;
}
.part__blog,
.part__portfolio,
.part__store {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.part__blog {
  background-image: url(../images/heroes/homepage--blog--mobile.jpg);
}
.part__portfolio {
  background-image: url(../images/heroes/homepage--store--mobile.jpg);
}
.part__store {
  background-image: url(../images/heroes/homepage--portfolio--mobile.jpg);
}
@media screen and (min-width: remy(480px)) {
  .part__blog {
    background-image: url(../images/heroes/homepage--blog--tablet.jpg);
  }
  .part__portfolio {
    background-image: url(../images/heroes/homepage--store--tablet.jpg);
  }
  .part__store {
    background-image: url(../images/heroes/homepage--portfolio--tablet.jpg);
  }
}
@media screen and (min-width: remy(768px)) {
  .part__blog {
    background-image: url(../images/heroes/homepage--blog--desktop.jpg);
  }
  .part__portfolio {
    background-image: url(../images/heroes/homepage--store--desktop.jpg);
  }
  .part__store {
    background-image: url(../images/heroes/homepage--portfolio--desktop.jpg);
  }
}
@media screen and (min-width: remy(992px)) {
  .part__blog {
    background-image: url(../images/heroes/homepage--blog--large.jpg);
  }
  .part__portfolio {
    background-image: url(../images/heroes/homepage--store--large.jpg);
  }
  .part__store {
    background-image: url(../images/heroes/homepage--portfolio--large.jpg);
  }
}
@media screen and (min-width: remy(1400px)) {
  .part__blog {
    background-image: url(../images/heroes/homepage--blog--xlarge.jpg);
  }
  .part__portfolio {
    background-image: url(../images/heroes/homepage--store--xlarge.jpg);
  }
  .part__store {
    background-image: url(../images/heroes/homepage--portfolio--xlarge.jpg);
  }
}
.part__blog a,
.part__portfolio a,
.part__store a {
  font-family: $font--raleway;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  &:focus,
  &:hover {
    color: $color--gold;
  }
}
