/**
 * Home page
 */
.page--home {
  main {
    position: relative;
  }

  .sec__main {
    position: relative;
    margin-bottom: -63px;
  }

  .hero--big {
    min-height: 606px;

    @media screen and (min-width: 460px) {
      min-height: 480px;
    }
  }

  header {
    position: absolute;
    top: 0;
    z-index: 99;

    a,
    .navbar-toggler {
      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }

  footer {
    width: 100%;
    background-color: transparent;

    a {
      color: map-get($palette-custom, black);

      &:focus,
      &:hover {
        color: map-get($palette-custom, red);
      }
    }
  }

  .footer__media {
    padding-bottom: 0;
  }
}

.home__intro {
  z-index: 3;
  color: map-get($palette-custom, black);
  text-align: center;

  @include vertical-align;

  h2,
  h3 {
    span {
      padding-top: 4px;
      padding-right: 15px;
      padding-bottom: 4px;
      padding-left: 15px;
    }
  }

  h1 {
    margin-bottom: 0;
    line-height: 1.1;
    font-family: 'Devero', arial, sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: map-get($palette-custom, red);

    @media screen and (min-width: 390px) {
      font-size: 96px;
    }

    @media screen and (min-width: 768px) {
      font-size: 112px;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    color: map-get($palette-custom, black);

    @media screen and (min-width: 555px) {
      font-size: 28px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: $font-monospace;
    font-size: 1rem;
    font-weight: 500;

    @media screen and (min-width: 555px) {
      font-size: 18px;
    }

    @media screen and (min-width: 768px) {
      font-size: 21px;
    }
  }

  /* @media screen and (max-width: 450px) {
    .intro__btn-container,
    .btn {
      transform: rotate(180deg);
    }

    .btn {
      margin-right: auto;
      margin-left: auto;
      display: block;
      max-width: 320px;

      &:last-of-type {
        margin-top: 16px;
      }
    }
  } */
}

/* .js {
  .intro__btn-container {
    display: none;
    opacity: 0;
  }
} */
