/**
 * Portfolio Page - Work
 */

.page--portfolio {
  .sec__main {
    min-height: 0;
    height: remy(110px);
  }
}

main {
  .sec__works {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.sec__works {
  [class*='col-'] {
    padding: remy(16px);
  }
}

.work__item {
  position: relative;
  display: block;
  //overflow: hidden;

  &:focus > div + img,
  &:hover > div + img {
    transform: scale(1.15);
  }
}

.overlay--thumbnail {
  background-size: 70%;
}

.works__thumbnail {
  transform-style: preserve-3d;

  @include transition(transform);
}

.thumbnail__info {
  display: none;
  padding-top: remy(16px);
  padding-left: remy(16px);
  color: #fff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @include vertical-align(absolute);

  h3 {
    font-weight: 600;
  }

  h4 {
    font-weight: 400;
  }
}
