/**
 * Portfolio Page
 */

/* Works */

.page--portfolio .sec__main {
  min-height: 0;
  height: 110px;
}

main .sec__works {
  padding-top: 0;
  padding-bottom: 0;
}

.sec__works [class*="col-"] {
  padding: 1rem;
}

.work__item {
  position: relative;
  display: block;
  overflow: hidden;
}

.overlay--thumbnail {
  background-size: 70%;
}

.works__thumbnail {
  transform-style: preserve-3d;

  @include transition(transform);
}

.overlay--thumbnail:focus + .works__thumbnail,
.overlay--thumbnail:hover + .works__thumbnail,
.overlay--thumbnail:focus + .works__thumbnail + noscript > .works__thumbnail,
.overlay--thumbnail:hover + .works__thumbnail + noscript > .works__thumbnail {
  transform: scale(1.25);
}

.thumbnail__info {
  padding-left: 2rem;
  //color: $color--gold;
  color: $color--red;
}

.thumbnail__info h3,
.thumbnail__info h4 {
  font-weight: 600;
}

.page--portfolio footer {
  padding-top: 2rem;
}
