/**
 * Process Page
 */

.page--process {
  overflow-x: hidden;

  .sec__process {
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  .row {
    position: relative;
  }

  .row--process {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .icon-container {
    @media screen and (max-width: 768px) {
      margin-bottom: 4rem;
    }

    @media screen and (min-width: 768px) {
      transform: translateY(25%);
    }
  }

  .icon {
    font-size: 8rem;

    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }

  .svg-icon {
    display: block;
    max-width: remy(150px);

    @media screen and (min-width: 768px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .svg-icon-discovery {
    margin-top: remy(-12px);
  }

  .svg-icon-planning {
    margin-top: remy(-22px);
  }

  .svg-icon-design {
    margin-top: remy(-18px);
  }

  .svg-icon-building {
    margin-top: remy(-16px);
  }

  .nutshell__heading {
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color--red;
  }

  .row--black {
    p,
    .icon {
      color: #fff;
    }
  }

  .btn {
    margin-top: 3rem;
  }
}
