/**
 * Process Page
 */
.page--process .sec__process {
	padding-top: 2.5rem;
	padding-bottom: 0;
}
.row--process {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.page--process .nutshell__heading {
	margin-top: 0;
	font-weight: bold;
	color: #212121;
}
