/**
 * Work Page
 */

.page--portfolio .sec__main {
  min-height: 0;
  height: 110px;
}

.page--work .overlay--thumbnail {
  background-size: 70%;
}

.works__thumbnail {
  transform-style: preserve-3d;

  @include transition(transform);
}

.overlay--thumbnail:focus + .works__thumbnail,
.overlay--thumbnail:hover + .works__thumbnail,
.overlay--thumbnail:focus + .works__thumbnail + noscript > .works__thumbnail,
.overlay--thumbnail:hover + .works__thumbnail + noscript > .works__thumbnail {
  transform: scale(1.25);
}
