/**
 * Portfolio Page
 */
/* About section */
.page--portfolio .hero__overlay {
  background: rgba(0,0,0,.55);
}
.page--portfolio .hero__arrow {
  position: absolute;
  right: 0;
  bottom: 3rem;
  left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  font-size: 2rem;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
}
.canvas-cube {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}
.page--portfolio .sec__about {
  position: relative;
  color: #fff;
  background-image: url(../images/Alex-Devero--zero--mobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  @media screen and (min-width: remy(480px)) {
    background-image: url(../images/Alex-Devero--zero--tablet.jpg);
  }
  @media screen and (min-width: remy(768px)) {
    background-image: url(../images/Alex-Devero--zero--desktop.jpg);
  }
  @media screen and (min-width: remy(992px)) {
    background-image: url(../images/Alex-Devero--zero--large.jpg);
  }
  @media screen and (min-width: remy(1400px)) {
    background-image: url(../images/Alex-Devero--zero--xlarge.jpg);
  }
}
.page--portfolio .sec__about .container {
  position: relative;
  z-index: 2;
}
.page--portfolio .row:last-of-type .about__icon {
  margin-top: 4rem;
}
.page--portfolio .nutshell__heading {
  margin-top: 1rem;
}
.page--portfolio .nutshell__text {
  margin-bottom: 2rem;
}
/* Personal section */
.page--portfolio .sec__personal {
  background: url(../images/Alex-Devero--who-am-I--mobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  @media screen and (min-width: remy(480px)) {
    background-image: url(../images/Alex-Devero--who-am-I--tablet.jpg);
  }
  @media screen and (min-width: remy(768px)) {
    background-image: url(../images/Alex-Devero--who-am-I--desktop.jpg);
  }
  @media screen and (min-width: remy(992px)) {
    background-image: url(../images/Alex-Devero--who-am-I--large.jpg);
  }
  @media screen and (min-width: remy(1400px)) {
    background-image: url(../images/Alex-Devero--who-am-I--xlarge.jpg);
  }
}
/* Services section */
.page--portfolio .sec__services {
  position: relative;
  color: #fff;
  background: url(../images/Alex-Devero--what-i-do--mobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  @media screen and (min-width: remy(480px)) {
    background-image: url(../images/Alex-Devero--what-i-do--tablet.jpg);
  }
  @media screen and (min-width: remy(768px)) {
    background-image: url(../images/Alex-Devero--what-i-do--desktop.jpg);
  }
  @media screen and (min-width: remy(992px)) {
    background-image: url(../images/Alex-Devero--what-i-do--large.jpg);
  }
  @media screen and (min-width: remy(1400px)) {
    background-image: url(../images/Alex-Devero--what-i-do--xlarge.jpg);
  }
}
.page--portfolio .sec__services .container {
  position: relative;
  z-index: 2;
}
/*.page--portfolio .sec__services .divider {background-color: #fff;}*/
/* Works */
main .sec__works {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ececec;
}
.sec__works [class*="col-"] {
  padding: 0;
}
.works__thumbnail {
  /*-webkit-filter: grayscale(1);
          filter: grayscale(1);
  @include transition(all);*/
}
.works__thumbnail:hover {
          filter: grayscale(0);

  -webkit-filter: grayscale(0);
}
.thumbnail__info {
  padding-left: 2rem;
  color: $color--gold;
}
.thumbnail__info h3,
.thumbnail__info h4 {
  font-weight: 400;
}
