//
// Mixins
//

// Mixins for retina
// sass-lint:disable no-vendor-prefixes
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
      @content;
  }
}
// sass-lint:enable no-vendor-prefixes

// Mixin for transition
@mixin transition($prop: all, $duration: $duration, $timing: cubic-bezier(.4, 0, 1, 1)) {
  transition: $prop $duration $timing;
}

// Mixin for box-shadow
@mixin box-shadow($level) {
  @if $level == 1 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05), 0 3px 6px rgba(0, 0, 0, .15);
  } @else if $level == 2 {
    box-shadow: 0 6px 9px rgba(0, 0, 0, .05), 0 9px 12px rgba(0, 0, 0, .15);
  }
}

// Mixin for vertical centering
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
