/**
 * Diffusion effect
 */

.text {
  font-size: remy(80px);
  line-height: 1;
  text-indent: remy(-30px);
  text-align: center;
  color: #fff;

  @include vertical-align;

  @media screen and (min-width: 382px) {
    font-size: remy(96px);
  }

  @media screen and (min-width: 412px) {
    font-size: remy(112px);
  }

  @media screen and (min-width: 850px) {
    font-size: remy(128px);

    br {
      display: none;
    }
  }

  @media screen and (min-width: 1125px) {
    font-size: remy(160px);
  }

  span {
    @keyframes diffuseShadow {
      0%,
      10% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: translate3d(15px, 0, 0);
      }

      50% {
        text-shadow: 0 15px 15px rgba(0, 0, 0, .1);
      }

      70%,
      100% {
        text-shadow: 0 0 0 rgba(0, 0, 0, .1);
        transform: translate3d(0, 0, 0);
      }
    }

    position: relative;
    display: inline-block;
    animation: diffuseShadow 2.35s infinite ease-in 1s;
    will-change: transform;

    &:nth-of-type(1) {
      animation-delay: 0s;
    }

    &:nth-of-type(2) {
      animation-delay: .2s;
    }

    &:nth-of-type(3) {
      animation-delay: .4s;
    }

    &:nth-of-type(4) {
      animation-delay: .6s;
    }

    &:nth-of-type(5) {
      animation-delay: .8s;
    }

    &:nth-of-type(6) {
      animation-delay: 1s;
    }

    &:nth-of-type(7) {
      animation-delay: 1.2s;
    }

    &:nth-of-type(8) {
      animation-delay: 1.4s;
    }

    &:nth-of-type(9) {
      animation-delay: 1.6s;
    }

    &:nth-of-type(10) {
      animation-delay: 1.8s;
    }

    &:nth-of-type(11) {
      animation-delay: 2s;
    }
  }
}
