/**
 * Forms
 */

input:not([type=submit]):not([name=nav-check]):not([type=checkbox]), // sass-lint:disable-line force-pseudo-nesting
select,
textarea {
  display: block;
  padding: remy(13px);
  margin: auto;
  width: 100%;
  font-family: $font-quicksand;
  font-size: remy(16px);
  color: map-get($palette-custom, black);
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #bbb;
  border-left: 0;
  border-radius: 0;
  // sass-lint:disable no-vendor-prefixes, no-important
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
  // sass-lint:enable no-vendor-prefixes, no-important

  @include transition(all);

  &:focus {
    outline: 0;
    border-bottom: 1px solid #212121;
  }
}

label {
  display: inline-block;
  width: 100%;
  font-family: $font-monospace;
  font-size: remy(14px);
  font-weight: 700;
  color: rgba(33, 33, 33, .85);
  text-transform: uppercase;
}

.form__subject {
  select {
    color: map-get($palette-custom, black);
  }
}

.form__details,
.form__message {
  margin-bottom: remy(16px);
}

.form__details {
  .col-md-6 {
    &:first-of-type {
      @media screen and (max-width: 768px) {
        margin-bottom: remy(32px);
      }
    }
  }
}

.form__message {
  textarea {
    height: remy(160px);
    resize: vertical;
  }
}

.input--checkbox {
  display: none;

  &:checked + .checkbox--custom {
    &:before {
      transform: scale(.85);
    }
  }
}

.checkbox--custom {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: remy(16px);
  height: remy(16px);
  border: remy(2px) solid #212121;
  overflow: hidden;

  &:before {
    content: '\00d7';
    position: absolute;
    top: 0;
    left: remy(-2px);
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: remy(30px);
    text-align: center;
    line-height: .3;
    transform: scale(0);
    @include transition(transform);
  }
}

// Browser hack for Firefox
@media screen and (min--moz-device-pixel-ratio: 0) { // sass-lint:disable-line no-vendor-prefixes
  .checkbox--custom {
    &:before {
      line-height: .45;
    }
  }
}

[class*=safari-] {
  .checkbox--custom {
    &:before {
      left: remy(-2.5px);
      line-height: .4;
    }
  }
}

.js.no-svg, // sass-lint:disable-line force-element-nesting
.ie-8 {
  .input--checkbox {
    display: block;
  }

  .checkbox--custom {
    display: none;
  }
}

.ie-9,
.ie-10,
.ie-11 {
  .checkbox--custom {
    &:before {
      left: remy(-2.5px);
      line-height: .5;
    }
  }
}

.checkbox__label {
  position: relative;
  top: remy(-3px);
}

.form__button {
  text-align: center;
}
