/**
 * Navigations
 */

.nav__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav--main {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    text-align: center;
    background: map-get($palette-custom, black);
    transition: transform .25s cubic-bezier(.4, 0, 1, 1);
    transform: translateX(100%);
  }

  @media screen and (min-width: 768px) {
    max-width: calc(100% - 115px);
    justify-content: flex-end;
  }

  @at-root {
    .ie-8 &,
    .ie-9 & {
      padding-top: remy(7px);
      display: block;

      @media screen and (min-width: 768px) {
        text-align: right;

        .nav-item {
          display: inline-block;

          &:first-of-type {
            display: none;
          }
        }
      }
    }
  }
}

.nav-main__label,
.nav-link,
.navbar-toggler {
  &:focus,
  &:hover {
    color: map-get($palette-custom, red);
  }
}

.nav-main__label,
.navbar-toggler {
  cursor: pointer;

  @include transition(color);
}

.nav-main__label {
  @media screen and (max-width: 767px) {
    display: inline;
    float: right;
    padding: remy(3px) remy(7px);
    margin-right: 1rem;
    width: remy(76.52px);
    font-size: remy(19px);
    font-weight: 700;
    color: map-get($palette-custom, black);
    text-align: center;
    text-transform: uppercase;
    border: remy(3px) solid;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

[type=checkbox] {
  &:checked + ul {
    transform: translateX(0);
  }
}

.nav-item--togglers {
  @media screen and (max-width: 767px) {
    /* position: absolute;
    top: remy(24px);
    right: remy(24px); */
    font-size: remy(48px);
  }

  @media screen and (min-width: 300px) and (max-width: 767px) {
    right: remy(50px);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-item {
  @media screen and (min-width: 768px) {
    &:nth-child(n+2) {
      margin-left: remy(18px);
    }
  }
}

.nav-link,
.navbar-toggler {
  display: block;
  font-family: $font-raleway;
}

.nav-link {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: remy(-2px);
    width: 0%;
    height: remy(2px);
    background-color: map-get($palette-custom, red);
    transform: translateY(-50%);

    @include transition(width);
  }

  &:focus,
  &:hover {
    &:before {
      width: calc(100% + 4px);
    }
  }

  @media screen and (max-width: 767px) {
    font-size: remy(24px);
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    font-size: remy(18px);
    font-weight: 700;
    text-transform: uppercase;
    color: map-get($palette-custom, black);
  }
}

.ie-8,
.ie-9,
.ie-10,
.ie-11,
[class*=ms-edge] {
  .nav-link {
    &:focus,
    &:hover {
      &:before {
        width: 108%;
      }
    }
  }
}

.ie-8,
.ie-9 {
  @media screen and (max-width: 767px) {
    .nav--main {
      .nav-link {
        display: inline-block;
      }
    }
  }
}

.navbar-toggler {
  font-size: remy(40px);
  color: #fff;
  width: inherit;
  line-height: 1;
}

.checkbox--nav {
  &:checked + .nav__container > & {
    opacity: 1;
    visibility: visible;
  }
}

.nav-link--active {
  color: map-get($palette-custom, red);

  &:before {
    width: calc(100% + 4px);
  }
}

.navbar-toggler-ie {
  display: none;
}

.nav--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-item {
    float: left;

    &:nth-of-type(n+2) {
      margin-left: remy(16px);
    }
  }
}

.ie-9 {
  .nav--footer {
    .nav-item {
      display: inline-block;
      float: none;
    }

    .list-divider {
      display: none;

      @media screen and (max-width: 460px) {
        display: block;
      }
    }
  }
}

.ie-8,
.ie-9 {
  .nav {
    @media (max-width: 767px) {
      padding-top: remy(60px);
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-toggler-ie {
      display: block;
    }
  }
}
