/**
 * Buttons
 */

.btn__container {
  text-align: center;
}

.btn {
  padding: 8px 32px;
  display: inline-block;
  font-family: $font-quicksand;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;

  @include box-shadow(2);

  @include transition(all);

  &:focus,
  &:hover {
    @include box-shadow(2);
  }
}

.btn--full {
  color: #fff;
  border: 0;

  &:focus,
  &:hover {
    color: #fff;
    background-color: palette-grabber($palette-material, grey, 600);
  }
}

.btn--full--black {
  background-color: map-get($palette-foundation, jet);

  &:focus,
  &:hover {
    background-color: map-get($palette-foundation, tuatara);
  }
}

.btn--full--red {
  background-color: map-get($palette-custom, black);

  &:focus,
  &:hover {
    background-color: map-get($palette-custom, red);
  }
}

.btn--full--white {
  color: map-get($palette-foundation, jet);
  background-color: #fff;

  &:focus,
  &:hover {
    background-color: palette-grabber($palette-material, grey, 600);
  }
}

.btn--full--gold {
  background-color: map-get($palette-custom, gold);

  &:focus,
  &:hover {
    background-color: darken(map-get($palette-custom, gold), 18%);
  }
}

.btn--ghost {
  background: transparent;
  border: 1px solid;
}

.btn--ghost--black {
  color: map-get($palette-foundation, jet);

  &:focus,
  &:hover {
    color: map-get($palette-foundation, oil);
  }
}

.btn--ghost--gold {
  color: map-get($palette-custom, gold);

  &:focus,
  &:hover {
    color: darken(map-get($palette-custom, gold), 18%);
  }
}

.btn--ghost--red {
  color: map-get($palette-custom, red);
}

.btn--ghost--white {
  color: #fff;

  &:focus,
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: transparent;
  }
}

.btn--ghost--black-inverted,
.btn--ghost--red-inverted {
  font-weight: 800;
  letter-spacing: 2px;
  background: transparent;

  &:focus,
  &:hover {
    color: #fff;
  }
}

.btn--ghost--black-inverted {
  color: map-get($palette-custom, black);
  border: 2px solid map-get($palette-custom, black);

  &:focus,
  &:hover {
    background: map-get($palette-custom, black);
  }
}

.btn--ghost--red-inverted {
  color: #fff;
  border: 2px solid map-get($palette-custom, red);

  &:focus,
  &:hover {
    background: map-get($palette-custom, red);
  }
}

.btn--contact {
  margin-top: 24px;
  margin-bottom: 48px;
}
