/**
 * Dividers
 */

.divider {
  max-width: 32px;
  height: 2px;
  background-color: #1b1b1b;
  border: 0;
}

.divider--primary {
  margin-bottom: 48px;
}

.divider--secondary {
  margin-bottom: 16px;
}

.divider--svg {
  display: block;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

.divider--full {
  max-width: 100%;
}

.divider--gold {
  background-color: map-get($palette-custom, gold);
}

.divider--violet {
  background-color: map-get($palette-custom, red);
}

.divider--left {
  margin-left: 0;
}

.divider--light {
  background-color: #eee;
}

.divider--thin {
  height: 1px;
}
