// Logos

.flexbox {
  .row--logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.h2 + .row--logos,
.row--logos + .row--logos,
.row--logos + .h2 {
  margin-top: 64px;
}

.row--logos {
  .tooltip-container {
    .tooltiptext {
      bottom: -42px;
      padding: 5px 2px;
    }
  }
}

.logos--tech-stack,
.logos--companies,
.logos--publications {
  .col-sm-6 {
    &:nth-of-type(n+2) {
      @media (max-width: 543px) {
        margin-top: 56px;
      }
    }
  }
}

.logos--tech-stack,
.logos--companies {
  .col-sm-6 {
    &:nth-of-type(n+3) {
      @media (min-width: 544px) and (max-width: 991px) {
        margin-top: 56px;
      }
    }
  }
}

.logos--tech-stack {
  .logo {
    max-height: 100px;
  }
}

.logos--publications {
  .col-sm-6 {
    &:nth-of-type(3),
    &:last-of-type {
      @media (min-width: 544px) and (max-width: 991px) {
        margin-top: 56px;
      }
    }
  }
}

.row--logos + .text--center {
  margin-top: 32px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 125px;
  filter: grayscale(100);
  object-fit: contain;
}

.logo--git,
.logo--bootstrap {
  width: auto;
}

.logo--spacebar {
  max-width: 70px;
}

.logo--net {
  max-width: 50px;
}

.logo--damejidlo {
  max-width: 160px;
}

.logo--alistapart,
.logo--codementor {
  max-width: 170px;
}

.logo--business-daily,
.logo--hackernoon {
  max-width: 75px;
}

.logo--codeburstio {
  max-width: 150px;
}
