<!DOCTYPE html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_ai_cs=true }}

  {{> head active_ai=true lang_cs=true }}
</head>
<body class="page--home page--ai">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_ai=true lang_cs=true }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      {{> shoal-fish }}
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
