<!doctype html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_solar_system=true }}

  {{> head active_solar_system=true lang_cs=false }}
</head>
<body class="page--home page--solar-system opening view--3d zoom--large">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_solar_system=true lang_cs=false }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <div class="system__universe scale--stretched view">
        <div class="system__galaxy">
          <div class="system__solar-system">
            <div class="system__mercury system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Mercury</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__venus system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Venus</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__earth system__orbit">
              <div class="pos">
                <div class="system__orbit">
                  <div class="pos">
                    <div class="system__moon"></div>
                  </div>
                </div>

                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Earth</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__mars system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Mars</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__jupiter system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Jupiter</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__saturn system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <div class="planet__ring"></div>
                  <dl class="planet__info">
                    <dt>Saturn</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__uranus system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Uranus</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__neptune system__orbit">
              <div class="pos">
                <div class="system__planet">
                  <dl class="planet__info">
                    <dt>Neptune</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__sun">
              <dl class="planet__info">
                <dt>Sun</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
