<!DOCTYPE html>
<html lang="cs" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> page-title active_solar_system_cs=true }}

  {{> head active_solar_system=true lang_cs=true }}
</head>
<body class="page--home page--solar-system opening view-3D zoom-large">
  {{> browser-notification }}

  {{> manifest }}

  <main>
    {{> header active_solar_system=true lang_cs=true }}

    <section id="sec__main" class="sec__main hero hero--main hero--big">
      <div class="system__universe scale-stretched view">
        <div class="system__galaxy">
          <div class="system__solar-system">
            <div class="system__mercury orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dt>Mercury</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__venus orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dt>Venus</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__earth orbit">
              <div class="pos">
                <div class="orbit">
                  <div class="pos">
                    <div class="system__moon"></div>
                  </div>
                </div>

                <div class="planet">
                  <dl class="infos">
                    <dt>Earth</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__mars orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dt>Mars</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__jupiter orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dt>Jupiter</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__saturn orbit">
              <div class="pos">
                <div class="planet">
                  <div class="ring"></div>
                  <dl class="infos">
                    <dt>Saturn</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__uranus orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dt>Uranus</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__neptune orbit">
              <div class="pos">
                <div class="planet">
                  <dl class="infos">
                    <dt>Neptune</dt>
                    <dd><span></span></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="system__sun">
              <dl class="infos">
                <dt>Sun</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}
  </main>

  {{> scripts }}
</body>
</html>
