/**
 * Preloaders
 * Info: https://ihatetomatoes.net/create-custom-preloading-screen/
 */
.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.preloader {
  position: relative;
  top: 50%;
  z-index: 1001;/* anything higher than 'z-index: 1000' of .loader-section */
  margin-top: remy(-75px);
  margin-left: auto;
  margin-right: auto;
  width: 41.222rem;
  height: 8rem;
  &:before {
    content: '';
    position: absolute;
    bottom: -28px;
    z-index: 99;
    width: 0%;
    height: 14px;
    background: #ba8747;
    -webkit-animation: underline 2.15s linear 2s;
            animation: underline 2.15s linear 2s;
  }
  @-webkit-keyframes underline {
    0% {
      width: 0%;
    }
    25% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes underline {
    0% {
      width: 0%;
    }
    25% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }
}
.preloader-logo {
  .cls-1 {
    fill: #ba8747;
    font-family: 'Prometheus';
    font-size: 140px;
    text-anchor: middle;
    text-transform: uppercase;
  }
  @include transition(opacity);
  -webkit-animation: show 2s linear;
          animation: show 2s linear;
  @-webkit-keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.preloader__section {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 50%;
  height: 100%;
  background: #010101;
  transition: all .7s .3s cubic-bezier(.645, .045, .355, 1.000);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.preloader__left {
  left: 0;
}
.preloader__right {
  right: 0;
}
/* Loaded */
.loaded .preloader-logo {
  //display: none;
  opacity: 0;
}
.loaded .preloader__left {
  -webkit-transform: translateX(-100%);/* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(-100%);/* IE 9 */
          transform: translateX(-100%);/* Firefox 16+, IE 10+, Opera */
}

.loaded .preloader__right {
  -webkit-transform: translateX(100%);/* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(100%);/* IE 9 */
          transform: translateX(100%);/* Firefox 16+, IE 10+, Opera */
}
.loaded .preloader {
  opacity: 0;
  transition: all .3s ease-out;
}
.loaded .preloader-wrapper {
  visibility: hidden;
  transition: all .3s 1s ease-out;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.no-js .preloader-wrapper {
  display: none;
}
