//
// Settings
//

// Global variables
$duration: .25s;
$radius: 2px;

// Fibonacci sequence
$fibonacci: (
  one: 0,
  two: 1,
  three: 1,
  four: 2,
  five: 3,
  six: 5,
  seven: 8,
  eight: 13,
  nine: 21,
  ten: 34,
  eleven: 55,
  twelve: 89
);

// Settings - Typography
$font-size-base: 16px;

$font-quicksand: 'Quicksand', 'Trebuchet MS', sans-serif;
$font-raleway: 'Raleway', arial, verdana, sans-serif;
$font-openSans: 'Open Sans', 'Trebuchet MS', sans-serif;
