//
// Settings
//

// Settings - Colors
$color--black: #212121;
$color--gold: #ba8747;
$color--red: #d30320;//#d31310;
$color--violet: #8d38c9;

// Settings - Global
$font-size-base: 16px;
$radius: 2px;
$duration: .25s;

// Fibonacci sequence
$fib--one: 0;
$fib--two: 1;
$fib--three: 1;
$fib--four: 2;
$fib--five: 3;
$fib--six: 5;
$fib--seven: 8;
$fib--eight: 13;
$fib--nine: 21;
$fib--ten: 34;
$fib--eleven: 55;
$fib--twelve: 89;

// Settings - Typography
$font--quicksand: 'Quicksand', 'Trebuchet MS', sans-serif;
$font--raleway: 'Raleway', arial, verdana, sans-serif;
$font--openSans: 'Open Sans', 'Trebuchet MS', sans-serif;
