///
// Settings - Global
///
$radius: 2px;
$timing: .25s;

///
// Settings - Typography
///
$font--quicksand: "Quicksand", "Trebuchet MS", sans-serif;
$font--raleway: "Raleway", arial, verdana, sans-serif;
$font--openSans: "Open Sans", "Trebuchet MS", sans-serif;

///
// Settings - Colors
///
$color--primary: $color--flat-pete-river;
$color--secondary: $color--flat-alizarin;
$color--tertiary: $color--flat-clouds;
$color--gold: #ba8747;
$color--red: #d31310;
$color--violet: #8d38c9;
